<template>
    <v-dialog v-model="value" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">User</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="save">
          <v-card-text>
            <v-container>
              <v-text-field
              :rules="rules.name"
              regular
              label="Name"
              v-model="form.name"
              />
              <v-text-field
              :rules="rules[ !!editData ? '' : 'username']"
              regular
              label="Username"
              v-model="form.username"
              :disabled="isEdit"
              />
              <v-text-field
              :rules="rules[ !!editData ? 'passwordEdit' : 'password']"
              ref="password"
              regular
              label="Password"
              v-model="form.password"
              type="password"
              />
              <v-text-field
              :rules="rules[ !!editData ? 'confirmPasswordEdit' : 'confirmPassword'].concat(passwordConfirmationRule)"
              ref="confirmPassword"
              regular
              label="Confirm Password"
              v-model="confirmPassword"
              type="password"
              
              />
              <v-checkbox v-if="editData" v-model="form.active" :label="`Status: ${form.active ? 'Active' : 'Inactive'}`"/> 
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit"><span v-if="isEdit">Save</span><span v-else>Add</span></v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <base-material-snackbar
      v-model="snackbar"
      type="error"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar>
    </v-dialog>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  props: ['value', 'editData', 'isEdit'],
  data: () => ({
      form: {
        name: "",
        username: "",
        password: "",
        active: false,
      },
      rules:{
        name: [
           v => !!v || 'Name is required !'
        ],
        username: [
          v => !!v || 'Username is required !',
          v => (v && v.length >= 6) || 'Minimum 6 characters required !'

        ],
        password: [
          v => !!v || 'Password is required !',
          v => (v && v.length >= 6) || 'Minimum 6 characters required !',

        ],
        passwordEdit: [
          v => !v || v.length >= 6 || 'Minimum 6 characters required',
        ],
        confirmPassword: [
           v => !!v || 'Password must be confirmed !',
        ],  
        confirmPasswordEdit: [
         
        ],
      },
      snackbar: false,
      dialogMessage : '',
      confirmPassword: ''
  }),
  computed: {
    passwordConfirmationRule() {
      return () =>
        this.form.password === this.confirmPassword || "Password must be the same !"
    }
  },
  methods:{
    ...mapActions('user', [
      'ADD_USER',  'EDIT_USER'
    ]),
    async save() {
      if (this.isEdit) {
        if (this.$refs.form.validate()) {
          try {
            let put = await this.EDIT_USER(this.form)
            if (put.data.success) {
              this.close()
              this.$emit('snackbar', put.data.message)
              this.$emit('reload')
            } else {
              this.snackbar = true
              this.dialogMessage = put.data.message
            } 
          } catch (error) {
              this.snackbar = true
              this.dialogMessage = 'Something went wrong.'
          }
          
        } else {
          this.snackbar = true
          this.dialogMessage = 'Invalid Data'
        }
      } else {
        if (this.$refs.form.validate()) {
          try {
            let post = await this.ADD_USER(this.form)
            if (post.data.success) {
              this.close()
              this.$emit('snackbar', post.data.message)
              this.$emit('reload')
            } else {
              this.snackbar = true
              this.dialogMessage = post.data.message
            }
          } catch (error) {
            this.snackbar = true
            this.dialogMessage = 'Invalid Data'
          }
        } else {
          this.snackbar = true
          this.dialogMessage = 'Invalid Data'
        }

      }
    },
    close() {
      this.$emit('input', false)
      this.$refs.form.reset()
    }
  },
  watch: {
    editData: {
      handler(value) {
        console.log(value);
        if(value !== null) {
          this.form = {...value, active: value.active == 'Active'}
          console.log(this.form);
        }
      }
    }
  }
}

</script>