<template>
  <v-container id="contactlist" fluid tag="section">
    <v-card class="ma-0">
      <v-card-title>
        <v-btn depressed tile color="primary" class="my-2" @click="filter()">
          Filter
        </v-btn>
        <v-btn depressed tile color="primary" class="my-2" @click="refresh()">
         Refresh
        </v-btn>
      </v-card-title>
      <v-data-table class="px-3" :page.sync="pageSync" :headers="head" :items="contact" dense :loading="loading" loading-text="Loading... Please wait">
        <!-- eslint-disable-next-line -->
        <template v-slot:item.action="{ item }" >
          <v-btn icon color="primary" @click="formEditContact(item)">
            <v-icon>mdi-grease-pencil</v-icon>
          </v-btn>
        </template>
        <!-- eslint-disable-next-line -->
        <template v-slot:item.name="{ item }">
          <div>
            <v-btn icon >
              <v-icon size="36" v-if="item.profile_photo == 'null'">
               mdi-account-circle
              </v-icon>
              <v-avatar size="36"  @click="jumpWA(item.wa)" v-else>
                <img
                :src="item.profile_photo"
                >
              </v-avatar>
            </v-btn>
            <span v-text="item.name" class="ml-3"></span>  
          </div>
        </template>
      </v-data-table>
    </v-card>
     
    <DialogEditContact v-model="dialogEditContact" :editData="editData" @reload="refresh()" @snackbar="showSnackbar"/>
    <DialogFilter v-model="dialogFilter" :refreshFilter ="refreshFilter" @ok="pageSync = 1"/>
    <base-material-snackbar v-model="snackbar" :type="snackType" v-bind="{
        ['top']: true,
        ['center']: true
      }">
      {{dialogMessage}}
    </base-material-snackbar>
  </v-container>
</template>
<script>
  import DialogEditContact from '../components/core/contact/dialogEditContact.vue'
  import DialogFilter from '../components/core/contact/dialogFilter'
  import {
    mapState,
    mapActions
  } from 'vuex'

  export default {
    components: {
      DialogEditContact,
      DialogFilter
    },
    data: () => ({
      dialogEditContact: false,
      head: [
        {
          text: 'Action',
          value: 'action',
          // width: '100px',
        },
        {
          text: 'Name',
          value: 'name',
          // width: '100px'
        },
        {
          text: 'Identity Number',
          value: 'ident_number',
          // width: '150px'
        },
        {
          text: 'Whatsapp',
          value: 'wa',
          // width: '100px'
        },
        {
          text: 'Email',
          value: 'email',
          // width: '100px'
        },
        // {
        //   text: 'City',
        //   value: 'city',
        //   // width: '100px'
        // },
      ],
      snackType: '',
      pageSync: 1,
      editData: null,
      loading: false,
      dialogFilter: false,
      snackbar: false,
      dialogMessage: '',
      refreshFilter: false

    }),
    methods: {
      ...mapActions('contact', [
        'GET_CONTACT'
      ]),
      showSnackbar(message) {
        this.snackbar = true
        this.snackType = 'primary'
        this.dialogMessage = message
      },
      formEditContact(item) {
        this.editData = item.id
        this.dialogEditContact = true
      },
      filter() {
        this.dialogFilter = true
      },
      jumpWA(wa) {
        if (wa) {
          window.open('https://wa.me/'+wa , "_blank")
        } else {
          this.snackbar = true
          this.snackType = 'error'
          this.dialogMessage = 'Whatsapp tidak ditemukan'
        }
      },
      async refresh(){
        this.refreshFilter = true
        await this.GET_CONTACT()
      }
    },
    computed: {
      ...mapState('contact', [
        'contact'
      ]),
    },
    async mounted() {
      this.loading = true
      try {
        let get = await this.GET_CONTACT()
        if (get.data.success) {
          this.loading = false
        }
      } catch (error) {
        this.loading = false
        this.dialogMessage = 'Something went wrong.'
        this.snackType = 'error'
        this.snackbar = true
      }
      
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem'

    },
    watch: {
      dialogEditContact: {
        handler(value) {
          if (!value) {
            this.editData = null
          }
        }
      },
      dialogFilter: {
        handler(value) {
          if (!value) {
            this.refreshFilter = false
          }
        }
      },
    }
  }
</script>