<template>
  <v-container id="grouplist" fluid tag="section">
    <v-card class="ma-0">
      <v-card-title>
        <v-btn depressed tile color="primary" class="my-2" @click="formTambahGroup">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
         <v-layout justify-end wrap row class="mx-1">
          <v-flex xs3 >
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-data-table class="px-3" :headers="head" :items="group" dense :loading="loading" :search="search" loading-text="Loading... Please wait">
        <!-- eslint-disable-next-line -->
        <template v-slot:item.action="{ item }">
          <v-btn icon color="primary" @click="editGroup({...item})">
            <v-icon>mdi-grease-pencil</v-icon>
          </v-btn>
          <v-btn icon color="primary" @click="konfirmasi(item.id)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <DialogTambahGroup v-model="dialogTambahGroup" @reload="GET_GROUP" @snackbar="showSnackbar" :editData="editData" />
    <DialogKonfirmasi :deleteConfirmText="deleteConfirmText" v-model="dialogKonfirmasi" @ya="deleteGroup(groupDeleted) && (dialogKonfirmasi = false)"
      @tidak="(dialogKonfirmasi = false)" />
    <base-material-snackbar v-model="snackbar" :type="snackType" v-bind="{
        ['top']: true,
        ['center']: true
      }">
      {{dialogMessage}}
    </base-material-snackbar>
  </v-container>
</template>
<script>
  import DialogTambahGroup from '../components/core/group/dialogTambahGroup.vue'
  import DialogKonfirmasi from '../components/core/dialogKonfirmasi.vue'
  import {
    mapState,
    mapActions
  } from 'vuex'
  export default {
    components: {
      DialogKonfirmasi,
      DialogTambahGroup
    },
    data() {
      return {
        dialogKonfirmasi: false,
        dialogTambahGroup: false,
        head: [{
            text: 'Action',
            value: 'action'
          },
          {
            text: 'Group Name',
            value: 'name'
          },
          {
            text: 'Contact Total',
            value: 'contact_total'
          },
          {
            text: 'Status',
            value: 'status'
          },
        ],
        snackType: '',
        snackbar: false,
        dialogMessage: '',
        groupDeleted: null,
        editData: null,
        loading: false,
        search:'',
        deleteConfirmText: false
      }
    },
    methods: {
      ...mapActions('group', [
        'GET_GROUP', 'DELETE_GROUP'
      ]),
      konfirmasi(del) {
        this.groupDeleted = del
        this.deleteConfirmText = 1
        this.dialogKonfirmasi = true
      },
      async deleteGroup(id) {
        try {
          let del = await this.DELETE_GROUP(id)
          if (del.data.success) {
            this.dialogMessage = del.data.message
            this.snackType = 'primary'
            this.snackbar = true
            await this.GET_GROUP()
            this.groupDeleted = null
          } else {
            this.dialogMessage = del.data.message
            this.snackType = 'error'
            this.snackbar = true
          }
        } catch (error) {
            this.dialogMessage = 'Something went wrong.'
            this.snackType = 'error'
            this.snackbar = true
        }
      },
      editGroup(item) {
        this.editData = item
        this.dialogTambahGroup = true
      },
      showSnackbar(message) {
        this.snackbar = true
        this.snackType = 'primary'
        this.dialogMessage = message

      },
      formTambahGroup() {
        this.dialogTambahGroup = true
      }
    },
    computed: {
      ...mapState('group', [
        'group'
      ]),
    },
    async mounted() {
      this.loading = true
      try {
        let get = await this.GET_GROUP()
        if (get.data.success) {
          this.loading = false
        }
      } catch (error) {
        this.loading = false
        this.dialogMessage = 'Something went wrong.'
        this.snackType = 'error'
        this.snackbar = true
      }
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem'

    },
    watch: {
      dialogTambahGroup(val) {
        if (!val)
          this.editData = null
      },
      dialogKonfirmasi(val) {
        if (!val) {
          this.deleteConfirmText = false
        }
      }
    }
  }

</script>
