<template>
  <v-container id="messagetemplate" fluid tag="section">
    <v-card class="ma-0">
      <v-card-title>
        <v-btn depressed tile color="primary" class="my-2 mx-1" @click=" tambahMessage()">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-btn depressed tile color="primary" class="my-2 mx-1" @click="showFilter()">
          Filter
        </v-btn>
        <v-spacer></v-spacer>
      </v-card-title>
      <v-data-table class="px-3" :headers="head" :items="template" dense :loading="loading" loading-text="Loading... Please wait">
        <!-- eslint-disable-next-line -->
        <template v-slot:item.action="{ item }">
          <v-btn icon color="primary" @click="editTemplate(item.id)">
            <v-icon>mdi-grease-pencil</v-icon>
          </v-btn>
          <v-btn icon color="primary" @click="konfirmasi(item.id)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
        <!-- eslint-disable-next-line -->
        <template v-slot:item.type="{ item }">
          <span v-if="item.category == 'Short Message'"> Other </span>
          <span v-else v-text="item.type">  </span>
        </template>
      </v-data-table>
    </v-card>
    <DialogTambahMessageTemplate v-model="dialogTambahMessageTemplate" @reload="GET_TEMPLATE" @snackbar="showSnackbar" :editData="editData"  />
    <DialogKonfirmasi v-model="dialogKonfirmasi" @ya="deleteTemplate(templateDeleted) && (dialogKonfirmasi = false)" @tidak="(dialogKonfirmasi = false)" :deleteConfirmText="deleteConfirmText" />
    <DialogFilter
      v-model="dialogFilter"
    />
    <base-material-snackbar
    v-model="snackbar"
    :type="snackType"
    v-bind="{
      ['top']: true,
      ['center']: true
    }"
    >
    {{dialogMessage}} 
    </base-material-snackbar>
  </v-container>
</template>
<script>
  import DialogKonfirmasi from '../components/core/dialogKonfirmasi.vue'
  import DialogTambahMessageTemplate from '../components/core/messageTemplate/dialogTambahMessageTemplate'
  import {
    mapState,
    mapActions
  } from 'vuex'
  import DialogFilter from '../components/core/messageTemplate/dialogFilter'

  export default {
    components: {
      DialogTambahMessageTemplate,
      DialogKonfirmasi,
      DialogFilter
    },
    data() {
      return {
        search: '',
        dialogKonfirmasi: false,
        dialogTambahMessageTemplate: false,
        head: [{
            text: 'Action',
            value: 'action'
          },
          {
            text: 'No',
            value: 'no'
          },
          {
            text: 'Category',
            value: 'category'
          },
          {
            text: 'Type',
            value: 'type'
          },
          {
            text: 'Title',
            value: 'title'
          },
          {
            text: 'Status',
            value: 'active'
          },
        ],
        templateDeleted: null,
        dialogMessage: '',
        snackType: '',
        snackbar: false,
        loading: false,
        dialogFilter: false,
        editData: null,
        deleteConfirmText: false
      }
    },
    methods: {
      ...mapActions('message', [
        'GET_TEMPLATE', 'DELETE_TEMPLATE'
      ]),
      async editTemplate(id){
        this.editData = id
        this.dialogTambahMessageTemplate = true
      
      },
      tambahMessage() {
        this.dialogTambahMessageTemplate = true
      },
      async deleteTemplate(id) {
        try {
          let del = await this.DELETE_TEMPLATE(id)
          if (del.data.success) {
            this.dialogMessage = del.data.message
            this.snackType = 'primary'
            this.snackbar = true
            await this.GET_TEMPLATE()
            this.templateDeleted = null
          } else {
            this.dialogMessage = del.data.message
            this.snackType = 'error'
            this.snackbar = true
          }
        } catch (error) {
          this.dialogMessage = 'Something went wrong.'
          this.snackType = 'error'
          this.snackbar = true
        }
        
      },
      konfirmasi(del) {
        this.templateDeleted = del
        this.deleteConfirmText = 2
        this.dialogKonfirmasi = true
      },
      showSnackbar(message) {
        this.snackbar = true
        this.snackType = 'primary'
        this.dialogMessage = message
      },
      selectedTemplate(data){
        this.data = data
      },
      showFilter(){
        this.dialogFilter = true
      }
    },
    computed: {
      ...mapState('message', [
        'template'
      ]),
    },
    async mounted() {
      this.loading = true
      try {
        let get = await this.GET_TEMPLATE()
          if(get.data.success){
          this.loading = false
        }
      } catch (error) {
        this.loading = false
        this.dialogMessage = 'Something went wrong.'
        this.snackType = 'error'
        this.snackbar = true
      }
      document.querySelector('.v-data-footer').style.fontSize = '0.9rem'

    },
    watch: {
      dialogTambahMessageTemplate(val){
        if(!val){
        this.editData = null
        }
      },
      dialogKonfirmasi(val) {
        if (!val) {
          this.deleteConfirmText = false
        }
      }
    }
  }

</script>
