<template>
  <v-container id="usercrm" fluid tag="section">
    <v-card class="ma-0">
      <v-card-title>
        <v-btn depressed tile color="primary" class="my-2" @click="formTambahUser">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table class="px-3" :headers="head" :items="user" dense :loading="loading" loading-text="Loading... Please wait">
        <!-- eslint-disable-next-line -->
        <template v-slot:item.action="{ item }">
          <v-btn icon color="primary" @click="editUser({...item})">
            <v-icon>mdi-grease-pencil</v-icon>
          </v-btn>
          <v-btn icon color="primary" @click="konfirmasi(item.username)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <DialogTambahUser v-model="dialogTambahUser" @reload="GET_USER" @snackbar="showSnackbar" :editData="editData"
      :isEdit="isEdit" />
    <DialogKonfirmasi v-model="dialogKonfirmasi" @ya="deleteUser(userDeleted) && (dialogKonfirmasi = false)"
      @tidak="(dialogKonfirmasi = false)" />

    <base-material-snackbar v-model="snackbar" :type="snackType" v-bind="{
        ['top']: true,
        ['center']: true
      }">
      {{dialogMessage}}
    </base-material-snackbar>

  </v-container>
</template>
<script>
  import DialogTambahUser from '../components/core/user/dialogTambahUser.vue'
  import DialogKonfirmasi from '../components/core/dialogKonfirmasi.vue'
  import {
    mapState,
    mapActions
  } from 'vuex'

  export default {
    components: {
      DialogKonfirmasi,
      DialogTambahUser
    },
    data() {
      return {
        dialogTambahUser: false,
        dialogKonfirmasi: false,
        head: [{
            text: 'Action',
            value: 'action'
          },
          {
            text: 'User Login',
            value: 'username'
          },
          {
            text: 'Name',
            value: 'name'
          },
          {
            text: 'Status',
            value: 'active'
          },
        ],
        editData: null,
        snackType: '',
        isEdit: false,
        snackbar: false,
        snackbarer: false,
        dialogMessage: '',
        userDeleted: null,
        loading: false
      }
    },
    computed: {
      ...mapState('user', [
        'user'
      ])
    },
    methods: {
      ...mapActions('user', [
        'GET_USER', 'DELETE_USER'
      ]),
      formTambahUser() {
        this.dialogTambahUser = true
      },
      konfirmasi(del) {

        this.userDeleted = del
        this.dialogKonfirmasi = true
      },
      async deleteUser(username) {
        try {
          let del = await this.DELETE_USER(username)
          if (del.data.success) {
            this.dialogMessage = del.data.message
            this.snackType = 'primary'
            this.snackbar = true
            await this.GET_USER()
            this.userDeleted = null
          } else {
            this.dialogMessage = del.data.message
            this.snackType = 'error'
            this.snackbar = true
          }
        } catch (error) {
            this.dialogMessage = 'Something went wrong.'
            this.snackType = 'error'
            this.snackbar = true
        }
        
      },
      async editUser(item) {
        this.editData = item
        this.isEdit = true
        this.dialogTambahUser = true
      },
      showSnackbar(message) {
        this.snackbar = true
        this.snackType = 'primary'
        this.dialogMessage = message
      },
    },
    async mounted() {
      this.loading = true
      try {
        let get = await this.GET_USER()
        if (get.data.success) {
          this.loading = false
        }
      } catch (error) {
        this.loading = false
        this.dialogMessage = 'Something went wrong.'
        this.snackType = 'error'
        this.snackbar = true
      }
      
      document.querySelector('.v-data-footer').style.fontSize = '0.9rem'

    },
    watch: {
      dialogTambahUser: {
        handler(value) {
          if (!value) {
            this.editData = null
            this.isEdit = false
          }
        }
      },
      
    }

  }

</script>
