<template>
  <v-app-bar
    id="app-bar"
    absolute
    app
    color="transparent"
    flat
    height="75"
  >
    <v-btn
      class="mr-3"
      elevation="1"
      fab
      small
      @click="setDrawer(!drawer)"
    >
      <v-icon v-if="value">
        mdi-view-quilt
      </v-icon>

      <v-icon v-else>
        mdi-dots-vertical
      </v-icon>
    </v-btn>

    <v-toolbar-title
      class="hidden-sm-and-down font-weight-light"
    >
    <h3 v-text="$route.name"></h3>
    </v-toolbar-title>

    <v-spacer />
    <template>
      <h3 class="mr-2 mt-n1">Hello, {{name}}</h3>
      <!-- <v-btn
        class="ml-2"
        x-small=""
        fab
        depressed
      >
        <v-icon color="error">mdi-logout</v-icon>
      </v-btn> -->
      <v-btn color="primary" small depressed tile class="mr-4" @click="logout">
        <v-icon color="white">mdi-logout</v-icon>
        <!-- <h4>Logout</h4> -->
      </v-btn>
    </template>
   
  </v-app-bar> 
</template>

<script>
  // Components
  import { VHover, VListItem } from 'vuetify/lib'

  // Utilities
  import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'DashboardCoreAppBar',

    components: {
      AppBarItem: {
        render (h) {
          return h(VHover, {
            scopedSlots: {
              default: ({ hover }) => {
                return h(VListItem, {
                  attrs: this.$attrs,
                  class: {
                    'black--text': !hover,
                    'white--text secondary elevation-12': hover,
                  },
                  props: {
                    activeClass: '',
                    dark: hover,
                    link: true,
                    ...this.$attrs,
                  },
                }, this.$slots.default)
              },
            },
          })
        },
      },
    },

    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      name: ''
    }),

    computed: {
      ...mapState(['drawer']),
    },

    methods: {
      ...mapMutations({
        setDrawer: 'SET_DRAWER',
      }),
      logout() {
        localStorage.removeItem('crm')
        localStorage.removeItem('user')
        this.$router.replace('/login')
      }
    },
    mounted() {
      this.name = JSON.parse(localStorage.getItem('user')).name
    }
  }
</script>
