<template>
  <v-dialog
    width="400"
    persistent
    v-model="value"
    >
    <v-card>
      <v-card-title >
        <div class="">
          <div v-if="this.deleteConfirmText == 1" class="px-2">
            <p class="display-1 " >Members will not receive messages that have been scheduled in this group.<br/>Continue?</p>
          </div>
          <div v-if="this.deleteConfirmText == 3" class="">
            <p class="display-1" >The Message can't be deleted, the system will deactivate the Schedule <br>and the message will stop sending, continue? <p style="font-size:12px;">(Schedule tidak dapat dihapus, sistem akan menonaktifkan <br>Schedule dan pesan akan berhenti dikirim, lanjutkan ?)</p>
          </div>
          <div v-if="this.deleteConfirmText == 2" class="">
            <p class="display-1" >The message can't be deleted, system will <br>deactivate the message,<br>continue?</p>
            <p style="font-size:12px;">(Pesan tidak dapat dihapus, sistem akan menonaktifkan pesan, <br>lanjutkan ?)</p>
          </div>
          <div v-if="!this.deleteConfirmText" class="">
            <p class="display-2" >Are you sure ?</p>
          </div>
        </div>
      </v-card-title>
      <v-spacer></v-spacer>
      <v-card-actions class="justify-center">
        <v-btn @click="tidak" tile text color="error darken-1">No</v-btn>
        <v-btn @click="ya" tile outlined color="primary darken-5">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props:['value','deleteConfirmText'],
  data : () => ({
    dialogWidth: null
  }),
  methods:{
    ya(){
      this.$emit('ya' )
    },
    tidak(){
      this.$emit('tidak')
    },
  },
  // watch: {
  //   value(val){
  //     if (this.deleteConfirmText) {
        
  //     }
  //   }
  // }
}

</script>