<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :dark="barColor !== 'rgba(228, 226, 226, 1), rgba(255, 255, 255, 0.7)'"
    :expand-on-hover="expandOnHover"
    :right="$vuetify.rtl"
    mobile-break-point="960"
    app
    width="225"
    v-bind="$attrs"
  >
    <template v-slot:img="props">
      <v-img
        :gradient="`to bottom, ${barColor}`"
        v-bind="props"
      />
    </template>

    <v-divider class="mb-1" />

    <v-list
      dense
      nav
    >
      <v-list-item>
        <v-list-item-avatar
          class="align-self-center"
          color="black"
          contain
        >
          <v-img
            src="../../../../assets/speedid.png"
            
          />
        </v-list-item-avatar>

        <v-list-item-content>
          <h3 v-text="profile.title" class="mb-1"/>
          <h5
            v-text="site_name"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider class="mb-2" />

    <v-list
      expand
      nav
    >
      <div />

      <template v-for="(item, i) in computedItems">
        <base-item-group
          v-if="item.children"
          :key="`group-${i}`"
          :item="item"
        >
        </base-item-group>

        <base-item
          v-else
          :key="`item-${i}`"
          :item="item"
        />
      </template>

      <div />
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  // Utilities
  import { mapState } from 'vuex'

  export default {
    name: 'DashboardCoreDrawer',

    props: {
      expandOnHover: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      items: [
        {
          icon: 'mdi-view-dashboard',
          title: 'dashboard',
          to: '/',
        },
        {
          title: 'Contact',
          icon: 'mdi-account',
          to: '/pages/contact'
        },
        {
          title: 'Group',
          icon: 'mdi-account-group',
          to: '/pages/group'
        },
        {
          icon: 'mdi-account-tie',
          title: 'User',
          to: '/pages/usercrm',
        },
        {
          title: 'Message',
          icon: 'mdi-message-bulleted',
          to: '/pages/messagetemplate'
        },
        {
          title: 'Program',
          icon: 'mdi-message-cog',
          group: '/schedule',
          children: [
            {
              title: 'Send',
              to: 'send'
            },
            {
              title: 'Schedule',
              to: 'schedule'
            },
            // {
            //   title: 'Monitoring',
            //   to: 'monitor'
            // },
          ]
        },
        
      ],
    }),

    computed: {
      ...mapState(['barColor', 'barImage']),
      drawer: {
        get () {
          return this.$store.state.drawer
        },
        set (val) {
          // this.$store.commit('SET_DRAWER', val)
        },
      },
      computedItems () {
        return this.items.map(this.mapItem)
      },
      profile () {
        return {
          avatar: true,
          title: "SpeedCRM",
        }
      },
      site_name: () => JSON.parse(localStorage.getItem('user')).site_name
    },

    methods: {
      mapItem (item) {
        return {
          ...item,
          children: item.children ? item.children.map(this.mapItem) : undefined,
          title: this.$t(item.title),
          
        }
        
      },
    },
    mounted(){
      let userId = JSON.parse(atob((localStorage.getItem('crm')).split(".")[1])).user_id
      let siteId = JSON.parse(atob((localStorage.getItem('crm')).split(".")[1])).site_id
      if (userId == 100 && siteId == 0) {
        this.items = [
        {
          icon: 'mdi-view-dashboard',
          title: 'dashboard',
          to: '/',
        },
        {
          title: 'Contact',
          icon: 'mdi-account',
          to: '/pages/contact'
        },
        // {
        //   title: 'Group',
        //   icon: 'mdi-account-group',
        //   to: '/pages/group'
        // },
        // {
        //   icon: 'mdi-account-tie',
        //   title: 'User',
        //   to: '/pages/usercrm',
        // },
        {
          title: 'Message',
          icon: 'mdi-message-bulleted',
          to: '/pages/messagetemplate'
        },
        {
          title: 'Program',
          icon: 'mdi-message-cog',
          group: '/schedule',
          children: [
            {
              title: 'Send',
              to: 'send'
            },
            // {
            //   title: 'Schedule',
            //   to: 'schedule'
            // },
            // {
            //   title: 'Monitoring',
            //   to: 'monitor'
            // },
          ]
        },
        ]
      }
      // console.log()
    }
  }
</script>

<style lang="sass">
  @import '~vuetify/src/styles/tools/_rtl.sass'

  #core-navigation-drawer
    .v-list-group__header.v-list-item--active:before
      opacity: .24

    .v-list-item
      &__icon--text,
      &__icon:first-child
        justify-content: center
        text-align: center
        width: 20px

        +ltr()
          margin-right: 24px
          margin-left: 12px !important

        +rtl()
          margin-left: 24px
          margin-right: 12px !important

    .v-list--dense
      .v-list-item
        &__icon--text,
        &__icon:first-child
          margin-top: 10px

    .v-list-group--sub-group
      .v-list-item
        +ltr()
          padding-left: 8px

        +rtl()
          padding-right: 8px

      .v-list-group__header
        +ltr()
          padding-right: 0

        +rtl()
          padding-right: 0

        .v-list-item__icon--text
          margin-top: 19px
          order: 0

        .v-list-group__header__prepend-icon
          order: 2

          +ltr()
            margin-right: 8px

          +rtl()
            margin-left: 8px
</style>
