<template>
    <v-dialog v-model="value" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Filter</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="filter">
          <v-card-text>
            <v-container>
                <v-radio-group v-model="form.category" label="Category :" row class="mt-0">
                    <v-radio label="Feed Message" value="Feed Message"></v-radio>
                    <v-radio label="Short Message" value="Short Message" ></v-radio>
                </v-radio-group>
                <v-text-field v-model="form.title" class="mt-0" regular label="Title" dense />
                <v-select v-model="form.type"  :items="type" menu-props="auto" label="Type" dense />
                <v-checkbox class="mt-0" v-model="form.active" :label="`Status: ${form.active ? 'Active' : 'Inactive'}`"/> 


            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">Ok</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <!-- <base-material-snackbar
      v-model="snackbar"
      :type="type"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar> -->
    </v-dialog>
</template>
<script>
import {
    mapState,
    mapActions
} from 'vuex'
export default {
  props: ['value',],
  data: () => ({
    type:[
        'Promotion',
        'News',
        'Reminder',
        'Re-booking'
    ],
    form: {
      category:'',
      title: '',  
      type:'',
      active: true
      
    }
  }),
  methods: {
    ...mapActions('message', [
      'GET_TEMPLATE', 'DELETE_TEMPLATE'
    ]),
    close() {
      this.$refs.form.reset()
      this.$emit('input', false)
    },
    async filter() {
     let res =  await this.GET_TEMPLATE(this.form)
     if (res.data.success) {
       this.close()
     }
    }
  },
   watch: {
    value(val){
      if (val) {
        this.form = {
          category:'',
          title: '',  
          type:'',
          active: true
        }
      }
    }
  }
}

</script>
<style>
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
</style>