<template>
    <v-dialog v-model="value" persistent max-width="400px">
      <v-card>
        <v-card-title>
          <span class="headline">Preview</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="save">
          <v-card-text class="px-0">
            <v-carousel v-if="imageLoaded && dataPreview.category == 'Feed Message'" :show-arrows="false" class="mb-1" height="300" cycle interval="3000">
                <v-carousel-item
                v-for="(item,i) in dataPreview.slide_picture"
                :key="i"
                :src="carousel[i]"
                ></v-carousel-item>
            </v-carousel>
            <v-container>
                <div class="judul mb-2">
                    <h3 v-if="dataPreview.category == 'Feed Message'">{{dataPreview.highlight}}</h3>
                    <h3 v-else>{{dataPreview.title}}</h3>
                </div>
                <!-- <div class="label mb-2">
                    Sunday,10 February 2020
                </div> -->
                <!-- <div class="mb-2" id="content"></div> -->
                <div class="mb-2" v-if="dataPreview.category == 'Feed Message'" v-html="dataPreview.content" />
                <span v-else>{{dataPreview.highlight}}</span>
                <div class="py-5">
                  <div class="tese mb-2 px-4 py-2" v-for="(c, i) in polling" :key="i">
                    <v-layout wrap row>
                      <h5>{{c}}</h5>
                      <v-spacer></v-spacer>
                      <h5>0%</h5>
                    </v-layout>
                  </div>
                  <!-- <div class="tese mb-2 px-4 py-2">
                    <v-layout wrap row>
                      <h5>lorem</h5>
                      <v-spacer></v-spacer>
                      <h5>0%</h5>
                    </v-layout>
                  </div>
                  <div class="tese mb-2 px-4 py-2">
                    <v-layout wrap row>
                      <h5>lorem</h5>
                      <v-spacer></v-spacer>
                      <h5>0%</h5>
                    </v-layout>
                  </div> -->
                </div>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">Save</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <!-- <base-material-snackbar
      v-model="snackbar"
      :type="type"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar> -->
    </v-dialog>
</template>
<script>
import Api from '../../../../../store/Api'
export default {
  props: ['value','dataPreview','isEdit'],
  data: () => ({
        // items: [
        //   {
        //     src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
        //   },
        //   {
        //     src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
        //   },
        //   {
        //     src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
        //   },
        //   {
        //     src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
        //   },
        // ],
        content: null,
        carousel: [],
        imageLoaded: false,
        polling: []
    // form: {
    //   status: '',
    //   category:'',
    //   message: '',
    //   type:'',
    //   wa: '',
    //   identitas: '',
      
    // }
  }),
  methods: {
    close() {
      this.$emit('input', false)
      this.carousel = []
      this.$refs.form.reset()
    },
    save(){
        this.$emit('save')
        this.close()
    },
    async loadImage(image) {
      const base64 = await new Promise((res, rej) => {
        const reader = new FileReader()
        reader.readAsDataURL(image)
        reader.onload = () => res(reader.result)
        reader.onerror = error => rej(error)
      })
      return base64
    }
  },
  watch:{
    value(val){
      if (val) {
        // console.log(this.dataPreview);
        this.imageLoaded = false

        this.dataPreview.slide_picture.map(async (x, i) => {
            if (this.isEdit) {
              this.carousel[i] = Api.defaults.baseURL + '/image/' + x
            } else {
              const image = await this.loadImage(x)
              this.carousel[i] = image
            }
            if (i == this.dataPreview.slide_picture.length - 1)
              this.imageLoaded = true
        }) // x !== null && x

        this.polling = this.isEdit ? this.dataPreview.polling.map(x => x.response) : this.dataPreview.polling
      }
    }
  }
}

</script>
<style>
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
.tese{
  border: 2px solid#f0bab1;
  background-color: rgba(255, 255, 255, 1);
}
</style>