<template>
  <v-dialog v-model="value" persistent max-width="700px">
    <v-card>
      <v-card-title>
        <span class="headline">Message Template</span>
        <v-divider></v-divider>
      </v-card-title>
      <v-form ref="form" @submit.prevent="add">
        <v-card-text>
          <v-container>
            <v-radio-group v-model="form.category" label="Category :" row class="mt-0" v-if="!isEdit" >
              <v-radio label="Feed Message" value="Feed Message"></v-radio>
              <v-radio label="Short Message" value="Short Message" ></v-radio>
            </v-radio-group>
            <section v-if="form.category == 'Feed Message'" >
              <div class="pic my-3" v-if="!isEdit">
              <PictureInput class="mt-n4" ref="pictureInput" :width="150" :removable="true" removeButtonClass="error pa-1" :height="150" accept="image/jpeg, image/png" :hideChangeButton="true" :customStrings="{ drag: 'Drag and drop default picture here' }" :zIndex="1" :crop="false" v-model="form.default_picture" :size="1" :reset="resetImage"/>
              </div>
              <v-row>
                <v-col cols="12" sm="4">
                  <v-select v-model="form.type" :items="type" menu-props="auto" label="Type" dense :rules="rules.type"/>
                  <v-text-field v-model="form.wa" class="mt-0" regular label="Whatsapp" dense :rules="rules.number"/>
                  <v-text-field v-if="form.type == type[3]" v-model="form.rebooking" class="mt-0" regular label="Rebooking" dense />
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-text-field v-model="form.title" class="mt-0" regular label="Title" dense :rules="rules.title" />
                  <v-text-field v-model="form.highlight" class="mt-0" regular label="Highlight" dense :rules="rules.highlight"/>
                  <vue-editor class="editor" :editorToolbar="customToolbar" placeholder="Content" v-model="form.content"></vue-editor>
                </v-col>
              </v-row>
              <div class="border pa-5 mb-5" v-if="!isEdit">
                <h4 class="my-2">Image Slider</h4>
                <v-flex class="d-flex flex-row">
                  <PictureInput v-for="(c, i) in 5" :key="i" v-model="imageSlider[i]" class="mr-2" ref="pictureInput" :width="150" :removable="true" removeButtonClass="error pa-1" :height="150" accept="image/jpeg, image/png" :hideChangeButton="true" :customStrings="{ drag: 'Drag and drop default picture here'}" :zIndex="1" :crop="false" :size="1" :reset="resetImage"/>
                </v-flex>
              </div>
              <div class="border pa-5 mb-5" v-if="!isEdit">
                <h4 class="my-2 mb-3">Polling Option</h4>
                <v-text-field v-for="(c, i) in form.polling" :key="i" v-model="form.polling[i]" :label="`Option ${i+1}`" regular dense />
                <v-layout justify-end wrap row>
                  <v-flex xs2 >
                    <v-btn @click="form.polling.push('')" depressed x-small fab color="primary"><v-icon>mdi-plus</v-icon></v-btn>
                  </v-flex>
                </v-layout>
              </div>
              <v-row class="mt-5 ml-1 label">
                <label>Response :</label>
                <v-checkbox class="mt-n1 mx-1" label="Like" v-model="form.like"></v-checkbox>
                <v-checkbox class="mt-n1 mx-1" label="View" v-model="form.view"></v-checkbox>
              </v-row>
              <v-checkbox class="mt-0" v-model="form.active" :label="`Status: ${form.active ? 'Active' : 'Inactive'}`"/> 
            </section>
            <section v-else>
              <v-text-field dense class="mt-0" v-model="form.title" regular full-width label="Title" :rules="rules.title"/>
              <v-text-field dense class="mt-0" v-model="form.highlight" regular full-width label="Message" :rules="rules.highlight"/>
            </section>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" tile text @click="close()">Close</v-btn>
          <v-btn color="primary" tile text type="submit">
              <span v-if="!loading.send && !isEdit" >Add</span>
              <span v-if="!loading.send && isEdit" >Save</span>
              <v-progress-circular v-else-if="loading.send"
                indeterminate
                color="primary"
                size="20"
                width="3"
              ></v-progress-circular>
            </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <DialogPreview
    v-model="dialogPreview"
    :dataPreview="this.form"
    :isEdit="isEdit"
    @save="save"
    />
    <base-material-snackbar
    v-model="snackbar"
    type="error"
    v-bind="{
      ['top']: true,
      ['center']: true
    }"
    >
    {{dialogMessage}} 
    </base-material-snackbar>
  </v-dialog>
</template>
<script>
import { VueEditor } from "vue2-editor"
import DialogPreview from "./dialogPreview"
import PictureInput from '../../../../../components/base/PictureInput2'
import { mapState,mapActions } from 'vuex'
import Api from '../../../../../store/Api'
 
export default {
  components: {
    VueEditor,
    PictureInput,
    DialogPreview
  },
  props: ['value','editData'],
  data(){
    return{
      urlUpload: "/message/template/image",
      type:[
        'Promotion',
        'News',
        'Reminder',
        'Re-booking'
      ],
      polldata:[],
      fotooo: null,
      form: {},
      uploadSlideImageName: [],
      uploadDefaultImage: [],
      resetImage: false,
      feed: false,
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"], 
        [{ list: "ordered" }, { list: "bullet" }],
        [{ align: ""},{ align: "center" },{ align: "right" },{ align: "justify" }],
        [{ indent: "-1" },{ indent: "+1" }],
      ],
      snackbar:false,
      dialogMessage: '',
      dialogPreview: false,
      isEdit: false,
      dat:'',
      loading: {
        message: false,
        send: false
      },
      imageSlider: [],
      rules:{
        title: [
           v => !!v || 'title is required !'
        ],
        type: [
           v => !!v || 'Type is required !'
        ],
        highlight: [
           v => !!v || 'Highlight is required !'
        ],
        number: [
          v => Number.isInteger(Number(v)) || "The value must be numbers",
        ],
      },  
    }
  },
  computed:{
    ...mapState('message', [
     'templateDet'
    ]),
  },
  methods:{
    ...mapActions('message', [
      'GET_DETAIL'
    ]),
    close() {
      this.$refs.form.reset()
      // this.form = {...this.init}
      this.$emit('input', false)
      this.resetImage = true
    },
   add() {
     if (!this.$refs.form.validate() && this.form.category == "Feed Message"){
      
     } else if(!this.form.default_picture && this.form.category == "Feed Message"){
      this.snackbar = true
      this.dialogMessage = 'Default Picture is required !'
     } else if(!this.form.content && this.form.category == "Feed Message"){
      this.snackbar = true
      this.dialogMessage = 'Content is required !'
     } else if(!this.form.slide_picture[0] && this.form.category == "Feed Message"){
      this.snackbar = true
      this.dialogMessage = 'Slide Picture is required !'
     } else if(!this.$refs.form.validate() && this.form.category == "Short Message"){
      
     } else {
      this.dialogPreview = true
     }
    },
   async save(){
     if (this.isEdit) {
      this.loading.send = true
       let formEdit = {
        category : this.form.category,
        type : this.form.type,
        title : this.form.title,
        highlight : this.form.highlight,
        content : this.form.content,
        view : this.form.view,
        like : this.form.like,
        active : this.form.active,
        wa : this.form.wa,
        rebook : this.form.rebooking,
        
       }
       try {
         let put = await Api.put('/message/template/'+this.editData, formEdit)
          if (put.data.success) {
            this.loading.send = false
            this.$emit('snackbar', put.data.message)
            this.$emit('reload')
            this.close()
          } else {
            this.loading.send = false
            this.snackbar = true
            this.dialogMessage = put.data.message
          }
       } catch (error) {
          this.loading.send = false
          this.snackbar = true
          this.dialogMessage = 'Something went wrong.'
       }
        
      } else {
        this.loading.send = true
          try {
            const formData = new FormData()
            formData.append('image', this.form.default_picture)
            let uploadDefault = await Api.post('/message/template/image', formData)
            this.uploadDefaultImage = uploadDefault.data.image_name

            let uploadSlide = this.form.slide_picture.map(x => {
              const formData = new FormData()
              formData.append('image', x)
              return Api.post('/message/template/image', formData)
            })
            const all = await Promise.all(uploadSlide)
            this.uploadSlideImageName = all.map(x => x.data.image_name)
          
          } catch(error) {
            this.loading.send = false
            this.snackbar = true
            this.dialogMessage = 'Upload gambar gagal !'
          }
          if (this.$refs.form.validate()) {
            try {
              let post = await Api.post('/message/template', {
                ...this.form,
                default_picture: this.uploadDefaultImage,
                slide_picture: this.uploadSlideImageName
              })
              if (post.data.success) {
                this.loading.send = false
                this.$emit('snackbar', post.data.message)
                this.$emit('reload')
                this.close()
              } else {
                this.loading.send = false
                this.snackbar = true
                this.dialogMessage = post.data.message
              }
            } catch (error) {
              this.loading.send = false
              this.snackbar = true
              this.dialogMessage = 'Something went wrong.'
            }
            
          } else {
            this.loading.send = false
            this.snackbar = true
            this.dialogMessage = 'Invalid Data'
          }
        // }
        
      }
    }
  },
  watch: {
    value(val) {
      if (val ) {
        this.form = {
          category: 'Feed Message',
          default_picture: null,
          type:'',
          wa: '',
          rebooking: '',
          title: '',
          highlight: '',
          content: '',
          slide_picture: [],
          polling: [],
          like: false,
          view: false,
          active: true,
        }
        this.imageSlider = []
        this.resetImage = false
        this.form.category = 'Feed Message'
        this.loading.send = false

      }
      
    },
    async editData(val){
       if (val) {
         this.isEdit = true
         let res = await this.GET_DETAIL(val)
         if (res.data.success){
           this.form = {...res.data.data}
         }
       } else {
         this.isEdit = false
       }
    },
    imageSlider(val) {
      this.form.slide_picture = val.filter(x => x instanceof File)
    },
    
  }
}
</script>
<style scoped>
.pic{
  /* margin-left: -450px; */
  width: 150px;
}
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.border{
    border: 1px solid  rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
  }

</style>