<template>
    <v-dialog v-model="value" scrollable persistent max-width="600px">
      <v-form ref="form" @submit.prevent="add">
        <v-card>
        <v-card-title>
          <span class="headline">Contact</span>
          <v-divider></v-divider>
        </v-card-title>
          <v-card-text>
            <v-container>
              <v-layout justify-end="">
                <v-flex xs4>
                  <v-text-field
                  append-icon="mdi-magnify"
                  label="Search Contact"
                  single-line
                  hide-details
                  class="mb-5"
                  v-model="search"
                  />
                </v-flex>
              </v-layout>
              <v-data-table
                v-model="selected"
                :headers="head"
                :items="contact"
                item-key="id"
                show-select
                :loading="loading"
                loading-text="Loading... Please wait"
                :search="search"

              >
        <!-- eslint-disable-next-line -->
              <template v-slot:item.name="{ item }">
                <div>
                  <v-btn icon>
                    <v-icon size="36" v-if="item.profile_photo == 'null'">
                    mdi-account-circle
                    </v-icon>
                    <v-avatar size="36"  @click="jumpWA(item.wa)" v-else>
                      <img
                      :src="item.profile_photo"
                      >
                    </v-avatar>
                  </v-btn>
                  <span v-text="item.name" class="ml-3"></span>  
                </div>
              </template>
              </v-data-table>
               <base-material-snackbar
                v-model="snackbarError"
                type="error"
                v-bind="{
                  ['top']: true,
                  ['center']: true
                }"
                >
                {{dialogMessage}} 
                </base-material-snackbar>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">Add</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
  props: ['value', 'reSelect'],
  data: () => ({
    head: [
      { text: 'Name', value: 'name'},
      { text: 'Whatsapp', value: 'wa'},
    ],
    selected: [],
    loading: false,
    search: '',
    snackbarError: false,
    dialogMessage:''
  }),
  computed:{
     ...mapState('contact', [
      'contact'
    ]),
  },
  mounted(){
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem'
  },
  methods:{
    ...mapActions('contact', [
      'GET_CONTACT'
    ]),
     close() {
      this.selected = []
      this.$emit('input', false)
    },
    add() {
      this.$emit('selectedContact', this.selected)
      this.$emit('input', false)
    },
    jumpWA(wa) {
        if (wa) {
          window.open('https://wa.me/'+wa , "_blank")
        } else {
          this.snackbarError = true
          this.dialogMessage = 'Whatsapp not found !'
        }
      }
  },
  watch: {
    async value(val) {
      this.selected = !this.reSelect ? [] : this.reSelect
      if (val) {
        this.loading = true
        let get = await this.GET_CONTACT({
          name: '',
          prov_id:'',
          reg_id: '',
          ktp:'',
          ident_number: '',
          gender: '',
          active: true
          })
        if (get.data.success) {
          this.loading = false
        }
      }
    }
  }
}
</script>