<template>
    <v-dialog v-model="value" scrollable persistent max-width="600px">
      <v-form ref="form" @submit.prevent="submit">
        <v-card>
          <v-card-title>
            <span class="headline"><span v-if="editData">Edit</span><span v-else>Create</span> Group</span>
            <v-divider></v-divider>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col>
                  <v-text-field
                  regular
                  label="Group name"
                  dense
                  v-model="form.name"
                  :rules="rules.name"
                  />
                  <v-checkbox dense v-model="form.active" :label="`Status: ${form.active ? 'Active' : 'Inactive'}`"/>
                  <v-btn small tile depressed color="primary" @click="addContact">
                    <v-icon>mdi-account-plus</v-icon>
                  </v-btn>
                  <!-- <v-divider></v-divider> -->
                </v-col>
              </v-row>
            </v-container>
              <v-card class="ma-0">
              <v-data-table
              class="py-2 px-2"
              :headers="head"
              dense
              :items="data"
              >
              <template v-slot:item.action="{ item }">
                <v-btn icon x-small color="primary" @click="deleteContact(item)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
              <template v-slot:item.name="{ item }">
                <div>
                  <v-btn icon>
                    <v-avatar size="36"  @click="jumpWA(item.wa)">
                      <img
                      :src="item.profile_photo"
                      >
                    </v-avatar>
                  </v-btn>
                  <span v-text="item.name" class="ml-3"></span>    
                </div>
              </template>
              </v-data-table>
              </v-card>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
              <v-btn color="error" tile text @click="close()">Close</v-btn>
              <v-btn color="primary" tile text type="submit"><span v-if="editData">Save</span><span v-else>Create</span></v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
      <DialogDataContact
      v-model="dialogDataContact"
      @selectedContact="selectedContact"
      :reSelect="reSelect" 
      />
      <base-material-snackbar
      v-model="snackbar"
      type="error"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar>
    </v-dialog>
</template>
<script>
import DialogDataContact from '../group/dialogDataContact'
import Api from '../../../../../store/Api'
import { mapState, mapActions } from 'vuex'

export default {
  props: ['value', 'editData', 'dialogTambahGroup'],
  components:{
    DialogDataContact
  },
  data: () => ({
    head: [
      { text: 'Action', value: 'action' },
      { text: 'Name', value: 'name' },
      { text: 'Whatsapp', value: 'wa' },
    ],
    rules:{
        name: [
           v => !!v || 'Group name is required !'
        ],
       
      },
    init: {
      name: '',
      active: true,
      contact: []
    },
    form: {
      name: '',
      active: true,
      contact: []
    },
    data: [],
    dialogDataContact: false,
    reSelect: [],
    snackbar: false,
    dialogMessage: '',
  }),
  computed:{
     ...mapState('contact', [
      'contact'
    ]),
  },
  methods: {
    close() {
      this.data = []
      this.form = {...this.init}
      this.$emit('input', false)
    },
    addContact(){
      this.dialogDataContact = true
      
    },
    selectedContact(data) {
      this.data = data
    },
    deleteContact(item){
      let a = this.data.indexOf(item)
      this.data.splice(a, 1);
    },
    async add() {
      this.form.contact = this.data.map(row => row.id)
      try {
        let post = await Api.post('/group', this.form)
        if (post.data.success) {
          this.$emit('snackbar', post.data.message)
          this.$emit('reload')
          this.close()  
        } else {
          this.snackbar = true
          this.dialogMessage = post.data.message
        }
      } catch (error) {
        this.dialogMessage = 'Something went wrong.'
        this.snackbar = true
      }
      
    },
    async edit() {
      this.form.contact = this.data.map(row => row.id)
      try {
        let put = await Api.put('/group/'+this.form.id, this.form)
        if (put.data.success) {
          this.$emit('snackbar', put.data.message)
          this.form = {...this.init}
          this.$emit('reload')
          this.close()
        } else {
          this.snackbar = true
          this.dialogMessage = put.data.message
        }
      } catch (error) {
        this.dialogMessage = 'Something went wrong.'
        this.snackbar = true
      }
      
    },
    submit() {
      if (this.editData)
        this.edit()
      else
        this.add()
    },
     jumpWA(wa) {
        if (wa) {
          window.open('https://wa.me/'+wa , "_blank")
        } else {
          this.snackbar = true
          this.dialogMessage = 'Whatsapp tidak ditemukan'
        }
      },
    ...mapActions('contact', [
      'GET_CONTACT'
    ])
  },
  watch: {
    data(val) {
      this.reSelect = val
    },
    async value(val) {
      if (val && (this.editData && this.editData.contact.length)) {
        await this.GET_CONTACT()
        this.data = this.contact.filter(x => this.editData.contact.includes(x.id))
        this.form = this.editData
      } else {
        this.data = []
      }
    },
  }
}

</script>