<template>
  <v-container id="monitor" fluid tag="section">
    <v-card class="ma-0">
      <v-card-title>
        <v-btn depressed tile color="primary" class="my-2 mx-1" @click="filter">
          Filter
        </v-btn>
      </v-card-title>
      <v-data-table class="px-3" :headers="head"  dense>
        <template v-slot:item.action="{  }">
          <v-btn icon color="primary">
            <v-icon>mdi-grease-pencil</v-icon>
          </v-btn>
          <v-btn icon color="primary">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
          <v-btn icon color="primary">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  <DialogFilter
  v-model="dialogFilter"
  />
  </v-container>
</template>
<script>
import DialogFilter from '../../components/core/monitor/dialogFilter'
export default {
  components: {
    DialogFilter
  },
  data(){
    return{
      dialogFilter: false,
      head: [
          {
            text: 'Action',
            value: 'action'
          },
          {
            text: 'No',
            value: 'no'
          },
          {
            text: 'Sent Date',
            value: 'sentDate'
          },
          {
            text: 'Topic',
            value: 'topic'
          },
          {
            text: 'Message',
            value: 'message'
          },
          {
            text: 'Periode Message',
            value: 'periodeMessage'
          },
          {
            text: 'Type Message',
            value: 'typeMessage'
          },
          {
            text: 'Send To',
            value: 'sendTo'
          },
          {
            text: 'Total Contact',
            value: 'total'
          },
          {
            text: 'Status',
            value: 'status'
          },
        ],
    }
  },
  mounted(){
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem'
  },
  methods: {
    filter(){
      this.dialogFilter = true
    }
  }
}
</script>