<template>
  <v-container id="schedule" fluid tag="section">
    <v-card class="ma-0">
      <v-card-title>
        <v-btn depressed tile color="primary" class="my-2 mx-1" @click="tambahDirectSchedule">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-btn depressed tile color="primary" class="my-2 mx-1" @click="filter">
          Filter
        </v-btn>
      </v-card-title>
      <v-data-table class="px-3" :headers="head" :items="schedule" dense :loading="loading" loading-text="Loading... Please wait">
        <!-- eslint-disable-next-line -->
        <template v-slot:item.action="{ item }">
          <v-btn icon color="primary" @click="editSchedule(item.id)">
            <v-icon>mdi-grease-pencil</v-icon>
          </v-btn>
          <v-btn icon color="primary" @click="konfirmasi(item.id)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <DialogTambahSchedule
      v-model="dialogTambahSchedule" :editData="editData" @reload="GET_SCHEDULE" @snackbar="showSnackbar"
    />
    <DialogKonfirmasi v-model="dialogKonfirmasi" @ya="deleteSchedule(scheduleDeleted) && (dialogKonfirmasi = false)"
    @tidak="(dialogKonfirmasi = false)" :deleteConfirmText="deleteConfirmText"/>
    <DialogFilter v-model="dialogFilter"/>
     <base-material-snackbar v-model="snackbar" :type="snackType" v-bind="{
        ['top']: true,
        ['center']: true
      }">
      {{dialogMessage}}
    </base-material-snackbar>
  </v-container>
</template>
<script>
import { mapState,mapActions } from 'vuex'
import DialogKonfirmasi from '../../components/core/dialogKonfirmasi'
import DialogTambahSchedule from '../../components/core/schedule/dialogTambahSchedule'
import DialogFilter from '../../components/core/schedule/dialogFilter'
import moment from 'moment'

export default {
  components: {
    DialogTambahSchedule,
    DialogKonfirmasi,
    DialogFilter
  },
  data(){
    return{
      head: [{
            text: 'Action',
            value: 'action'
          },
          {
            text: 'Start Date',
            value: 'start_date'
          },
          {
            text: 'End Date',
            value: 'end_date'
          },
          {
            text: 'Program Name',
            value: 'name'
          },
          // {
            //   text: 'Message',
          //   value: 'highlight'
          // },
          {
            text: 'Type',
            value: 'type'
          },
          {
            text: 'Send To',
            value: 'recipient'
          },
          {
            text: 'Total Contact',
            value: 'total_recipient'
          },
          {
            text: 'Status',
            value: 'status'
          },
        ],
        snackType : '',
        snackbar: false,
        dialogMessage: '',
        dialogTambahSchedule: false,
        dialogKonfirmasi: false,
        scheduleDeleted: null,
        editData: null,
        loading: false,
        dialogFilter: false,
        deleteConfirmText: false
    }
  },
   computed: {
    ...mapState('message', [
     'schedule'
    ]),
  },
  methods: {
    ...mapActions('message', [
      'GET_SCHEDULE','DELETE_SCHEDULE'
    ]),
    showSnackbar(message) {
      this.snackbar = true
      this.snackType = 'primary'
      this.dialogMessage = message
    },
    async editSchedule(id){
      this.editData = id
      this.dialogTambahSchedule = true
    },
    filter(){
      this.dialogFilter = true
    },
    konfirmasi(del) {
      this.deleteConfirmText = 3
      this.scheduleDeleted = del
      this.dialogKonfirmasi = true
    },
    async deleteSchedule(id) {
      try {
        let del = await this.DELETE_SCHEDULE(id)
        if (del.data.success) {
          this.dialogMessage = del.data.message
          this.snackType = 'primary'
          this.snackbar = true
          await this.GET_SCHEDULE()
          this.scheduleDeleted = null
        } else {
          this.dialogMessage = del.data.message
          this.snackType = 'error'
          this.snackbar = true
        }
      } catch (error) {
        this.dialogMessage = 'Something went wrong.'
        this.snackType = 'error'
        this.snackbar = true
      }
    },
     tambahDirectSchedule(){
        this.dialogTambahSchedule = true
    }
  },
  async mounted() {
    this.loading = true
    try {
      let get = await this.GET_SCHEDULE()
        if(get.data.success){
        this.loading = false
      }
    } catch (error) {
      this.loading = false
      this.dialogMessage = 'Something went wrong.'
      this.snackType = 'error'
      this.snackbar = true
    }
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem' 
  },
  watch: {
    dialogTambahSchedule(val){
      if(!val){
        this.editData = null
      }
    },
    dialogKonfirmasi(val) {
      if (!val) {
        this.deleteConfirmText = false
      }
    }
  }

}
</script>
sty