<template>
  <v-container id="direct" fluid tag="section">
    <v-card class="ma-0">
      <v-card-title>
        <v-btn depressed tile color="primary" class="my-2 mx-1" @click="tambahDirectMessage">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-btn depressed tile color="primary" class="my-2 mx-1" @click="showFilter">
          Filter
        </v-btn>
      </v-card-title>
      <v-data-table class="px-3" :headers="head" :items="directMessage" dense :loading="loading" loading-text="Loading... Please wait">
        <!-- eslint-disable-next-line -->
        <template v-slot:item.action="{ item }">
          <v-btn icon color="primary" @click="konfirmasi(item.id)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <DialogTambahDirectMessage
      v-model="dialogTambahDirectMessage"
      @reload="GET_DIRECT_MSG"
      @snackbar="showSnackbar"
    />
    <DialogFilter
    v-model="dialogFilter"
    />
    <DialogKonfirmasi v-model="dialogKonfirmasi" @ya="deleteTemplate(templateDeleted) && (dialogKonfirmasi = false)"
    @tidak="(dialogKonfirmasi = false)" />
    <base-material-snackbar
      v-model="snackbar"
      :type="snackType"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{ dialogMessage }} 
      </base-material-snackbar>
  </v-container>
</template>
<script>
import { mapState,mapActions } from 'vuex'
import DialogTambahDirectMessage from '../../components/core/send/dialogTambahDirectMessage'
import DialogFilter from '../../components/core/send/dialogFilter'
import DialogKonfirmasi from '../../components/core/dialogKonfirmasi'

export default {
  components: {
    DialogTambahDirectMessage,
    DialogFilter,
    DialogKonfirmasi
  },
  data(){
    return{
      head: [
          {
            text: 'Action',
            value: 'action'
          },
          {
            text: 'No',
            value: 'no'
          },
          {
            text: 'Date',
            value: 'date'  
          },
          {
            text: 'Program Name',
            value: 'name  '
          },
          {
            text: 'Title',
            value: 'title'
          },
          {
            text: 'Total Contact',
            value: 'total_recipient'
          },
        ],
        dialogTambahDirectMessage: false,
        loading: false,
        snackbar: false,
        snackType: '',
        dialogMessage: '',
        dialogFilter: false,
        dialogKonfirmasi: false,
        templateDeleted: null
    }
  },
  computed: {
    ...mapState('message', [
     'directMessage'
    ]),
  },
  methods: {
    ...mapActions('message', [
      'GET_DIRECT_MSG', 'DELETE_MESSAGE'
    ]),
    tambahDirectMessage(){
      this.dialogTambahDirectMessage = true
    },
    showSnackbar(message) {
      this.snackbar = true
      this.snackType = 'primary'
      this.dialogMessage = message
    },
    showFilter(){
      this.dialogFilter = true
    },
    konfirmasi(del) {
      this.templateDeleted = del
      this.dialogKonfirmasi = true
    },
    async deleteTemplate(id) {
      try {
        let del = await this.DELETE_MESSAGE(id)
        if (del.data.success) {
          this.dialogMessage = del.data.message
          this.snackType = 'primary'
          this.snackbar = true
          try {
            await this.GET_DIRECT_MSG()
          } catch (error) {
            this.dialogMessage = del.data.message
            this.snackType = 'error'
            this.snackbar = true
          }
          this.templateDeleted = null
        } else {
          this.dialogMessage = del.data.message
          this.snackType = 'error'
          this.snackbar = true
        }
      } catch (error) {
        this.dialogMessage = 'Something went wrong.'
        this.snackType = 'error'
        this.snackbar = true
      }
    },
  },
  async mounted() {
    this.loading = true
    try {
      let get = await this.GET_DIRECT_MSG()
        if(get.data.success){
        this.loading = false
      }
    } catch (error) {
      this.loading = false
      this.dialogMessage = 'Something went wrong.'
      this.snackType = 'error'
      this.snackbar = true
    }
    // if(get.data.success){
    //   this.loading = false
    // }
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem'
  },
}
</script>