<template>
  <v-container
    id="dashboard"
    fluid
    tag="section"
  >
    <v-row>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="info "
          icon="mdi-account"
          title="Contact Total"
          :value="dashboard.contact"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="primary"
          icon="mdi-account-plus"
          title="New Contact"
          :value="dashboard.new_contact"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>

      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="orange"
          icon="mdi-account-multiple"
          title="Group Total"
          :value="dashboard.group"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="error"
          icon="mdi-message-cog"
          title="Active Program"
          :value="dashboard.active_program"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
    </v-row>
    <v-row >
      <v-col
        cols="12"
        lg="12"
      >
      <base-material-card 
          color="error"
          icon="mdi-message-cog"
          title="View Program">
      <v-row>
        <v-col
        cols="12"
        lg="12"
        >
        <v-layout justify-center>
          <v-flex md6 class="mt-0">
            <v-autocomplete
            label="Search Program"
            prepend-inner-icon="mdi-magnify"
            :items="programList"
            v-model="program_list"
            clearable
            />
          </v-flex>
         </v-layout>
        </v-col>
      </v-row>
      <v-row v-if="program_list">
        <v-col
        cols="12"
        lg="4"
        md="4"
        sm="12"
        >
        <div class="text-center pa-5">
        <base-pie-chart :chartData="chartStatus"/>
          <div class="display-2 font-weight-light mt-5">
            Status
          </div>
        </div>
        </v-col>
        <v-col
        cols="12"
        lg="4"
        md="4"
        sm="12"
        >
        <div class="text-center pa-5">
        <base-bar-chart :chartData="chartPolling" />
          <div class="display-2 font-weight-light mt-5">
            Polling
          </div>
        </div>
        </v-col>
        <v-col
        cols="12"
        lg="4"
        md="4"
        sm="12"
        >
        <div class="text-center pa-5">
        <base-pie-chart :chartData="chartProfession" />
          <div class="display-2 font-weight-light mt-5">
            Profession
          </div>
        </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          md="12"
        >
          <base-material-card
            color="warning"
            class="px-5 py-3"
          >
            <template v-slot:heading>
              <div class="display-2 font-weight-light">
                Contact Responden
              </div>

              <div class="subtitle-1 font-weight-light">
              </div>  
            </template>
            <v-card-text>
              <v-data-table
                :headers="headers"
                :items="contactResponden"
              >
               <!-- eslint-disable-next-line -->
               <template v-slot:item.name="{ item }">
                <div>
                  <v-btn icon>
                    <v-avatar size="36"  @click="jumpWA(item.wa)">
                      <img
                      :src="item.profile_photo"
                      >
                    </v-avatar>
                  </v-btn>
                  <span v-text="item.name" class="ml-3"></span>    
                </div>
              </template>
              </v-data-table>
            </v-card-text>
          </base-material-card> 
        </v-col>

      </v-row>
      </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
    v-model="snackbarError"
    type="error"
    v-bind="{
      ['top']: true,
      ['center']: true
    }"
    >
    {{dialogMessage}} 
    </base-material-snackbar>
  </v-container>
</template>

<script>
  import { mapState,mapActions } from 'vuex'

  export default {
    name: 'DashboardDashboard',
    data () {
      return {
        chartStatus: {},
        chartPolling: {},
        chartProfession: {},
        headers: [
          {
            text: 'Name',
            value: 'name',
          },
          {
            text: 'Whatsapp',
            value: 'wa',
          },
          {
            text: 'Profession',
            value: 'profession',
          },
          {
            text: 'Status',
            value: 'status',
          },
        ],
        program_list: '',
        snackbarError: false,
        dialogMessage: '',
        contactResponden: []
      }
    },
     computed: {
      ...mapState('dashboard', [
        'dashboard','dashboardProgram','dashboardDetail', 'programList'
      ]),
    },
    methods: {
       ...mapActions('dashboard', [
        'GET_DASHBOARD','GET_DASHBOARD_PROGRAM','GET_DASHBOARD_DETAIL'
      ]),
      complete (index) {
        this.list[index] = !this.list[index]
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      },
      jumpWA(wa) {
        if (wa) {
          window.open('https://wa.me/'+wa , "_blank")
        } else {
          this.snackbarError = true
          this.dialogMessage = 'Whatsapp tidak ditemukan'
        }
      }

    },
      async mounted() {
        try {
          await this.GET_DASHBOARD()
          
        } catch (error) {
          this.snackbarError = true
          this.dialogMessage = 'Something went wrong.'
        }
      // if (get[0].data.success) {  
      //   this.chartStatus = {
      //     labels: this.dashboardProgram.chart.status.map(x => x.name),
      //     datasets: [
      //       {
      //         backgroundColor: ['rgba(255,0,0,.5)', 'rgba(0,0,255,.5)'],
      //         data: this.dashboardProgram.chart.status.map(x => x.value)
      //       }
      //     ]
      //   }
        
      //   this.chartPolling = {
      //     labels: this.dashboardProgram.chart.polling.map(x => x.name),
      //     datasets: [
      //       {
      //         barPercentage: 0.5,
      //           // barThickness: 20,
      //           maxBarThickness: 40,
      //           minBarLength: 2,
      //           backgroundColor: 'rgba(0,255,0,0.2)',
      //           borderColor: 'rgba(0,255,0,1)',
      //           borderWidth: 1,
      //           data: this.dashboardProgram.chart.polling.map(x => x.value)
      //       },
      //     ]
      //   }
      //   this.chartProfession = {
      //     labels: this.dashboardProgram.chart.profession.map(x => x.name),
      //     datasets: [
      //       {
      //         // label: 'Data One',  
      //           // borderWidth: ['10px','10px'],
      //           backgroundColor: ['rgba(255,120,0,.5)', 'rgba(0,255,0,.5)','rgba(255,0,0,.5)', 'rgba(0,0,255,.5)', 'rgba(225,255,0,.5)', 'rgba(255,0,120,.5)'],
      //           data: this.dashboardProgram.chart.profession.map(x => x.value)

      //       }, 
      //     ]
      //   }
      // }
      // this.program_list = this.programList[0]
      document.querySelector('.v-data-footer').style.fontSize = '0.9rem'
    },
    watch: {
      async program_list(val){
        if (val) {
            await this.GET_DASHBOARD_DETAIL(val)
            this.contactResponden = this.dashboardProgram.responden
            
            this.chartStatus = {
            labels: this.dashboardProgram.chart.status.map(x => x.name),
            datasets: [
              {
                backgroundColor: ['rgba(255,0,0,.5)', 'rgba(0,0,255,.5)'],
                data: this.dashboardProgram.chart.status.map(x => x.value)
              }
            ]
          }
          
          this.chartPolling = {
            labels: this.dashboardProgram.chart.polling.map(x => x.name),
            datasets: [
              {
                barPercentage: 0.5,
                  // barThickness: 20,
                  maxBarThickness: 40,
                  minBarLength: 2,
                  backgroundColor: 'rgba(0,255,0,0.2)',
                  borderColor: 'rgba(0,255,0,1)',
                  borderWidth: 1,
                  data: this.dashboardProgram.chart.polling.map(x => x.value)
              },
            ]
          }
          this.chartProfession = {
            labels: this.dashboardProgram.chart.profession.map(x => x.name),
            datasets: [
              {
                // label: 'Data One',  
                  // borderWidth: ['10px','10px'],
                  backgroundColor: ['rgba(255,120,0,.5)', 'rgba(0,255,0,.5)','rgba(255,0,0,.5)', 'rgba(0,0,255,.5)', 'rgba(225,255,0,.5)', 'rgba(255,0,120,.5)'],
                  data: this.dashboardProgram.chart.profession.map(x => x.value)

              }, 
            ]
          }
        } else {
          this.contactResponden = []
        }
        
        // if(res.data.success){
          //   console.log(res.data.data);
        // } 
      }
    }
  }
</script>
