  
<template>
<v-app>
    <v-row class="bg-img" dense>
      <v-row class="dark-transparent" align="center" justify="center">
        <v-col cols="10" lg="6" md="8" sm="10">
          <div class="mb-3" >
          </div>
          <v-row>
            <v-col cols="12" lg="6" md="6" sm="6" class="app-primary">
              <div class="my-md-4">
                    <h1 class="text-center">APLIKASI KOTA CERDAS</h1>
                    <h3 class="text-center">Smart People in Smart City</h3>
                    <p class="text-center mt-8">Supported By</p>
                    <img class="mx-auto my-4 d-block" src="../../assets/isn.png"/>
                    <img class="mx-auto my-4 d-block" src="../../assets/bm.png"/>
              </div>
            </v-col>
            <v-col cols="12" lg="6" md="6" sm="6" class="white px-10 py-2">
              <h1 class="text-center my-2" style="color: rgba(0, 0, 0, 0.87)">SpeedCRM</h1>
              <v-form  @submit.prevent="login">
              <v-text-field v-model="input.username" class="my-3" label="Username" required />
              <v-text-field v-model="input.password" class="my-3" :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'" :type="showPass ? 'text' : 'password'" label="Password" @click:append="showPass = !showPass" required />
              <v-btn depressed tile class="my-3" type="submit" color="app-primary" :loading="loadingLogin" block><v-icon class="mr-1">mdi-login</v-icon>Login</v-btn>
            </v-form>
            <v-row align="center">
              <p class="mt-4 ml-3 contact-us" @click="dialogContactUs = true">Contact Us</p>
              <v-spacer></v-spacer>
              <v-btn color="rgba(0, 0, 0, 0.87)" class="mr-2" icon href="https://isn-speed.com" target="_blank">
                <v-icon x-large>mdi-web</v-icon>
              </v-btn>
              <v-btn color="rgba(0, 0, 0, 0.87)" class="mr-2" icon href="https://www.instagram.com/isn_speed/" target="_blank">
                <v-icon x-large>mdi-instagram</v-icon>
              </v-btn>
              <v-btn color="rgba(0, 0, 0, 0.87)" class="mr-2" icon href="https://www.facebook.com/PT-Inovasi-Solusi-Nusantara-413210622616203" target="_blank">
                <v-icon x-large>mdi-facebook</v-icon>
              </v-btn>
            </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-dialog width="500" v-model="dialogContactUs">
          <v-card>
            <v-card-title class="grey lighten-2">
              Contact Our Marketing Support
            </v-card-title>
            <v-card-text class="mt-4">
              <p class="mb-1">Address : Merdeka Street number 45 (2nd floor) Denpasar-Bali</p>
              <p class="mb-1">Telp : (+62)361-265521</p>
              <p class="mb-1">Wa : (+62)8123690511</p>
            </v-card-text>
          </v-card>
        </v-dialog>
        <base-material-snackbar
            v-model="snackbarer"
            type="error"
            v-bind="{
              ['top']: true,
              ['center']: true
            }"
            >
            {{dialogMessage}} 
        </base-material-snackbar>
      </v-row>
    </v-row>

  <!-- <v-container
  id="login"
  fluid
  tag="section"
  >
    <v-row justify="center">
      <v-col
        cols="12"
        md="4"
      >
        <base-material-card >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Login
            </div>
          </template>
          <v-form v-on:submit.prevent="login">
            <v-container class="py-0">
              <v-text-field
              prepend-icon="mdi-account"
              label="Username"
              regular
              v-model="input.username"
              />
              <v-text-field
              prepend-icon="mdi-lock"
              label="Password"
              regular
              v-model="input.password"
              type="password"
              />
              <v-card-actions>
                <v-spacer />
                <v-btn type="submit" color="primary" width="80">
                  <span v-if="!loadingLogin">Login</span>
                  <v-progress-circular v-else-if="loadingLogin"
                    indeterminate
                    color="white"
                    size="20"
                    width="3"
                  ></v-progress-circular>
                </v-btn>
              </v-card-actions>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
      <base-material-snackbar
      v-model="snackbarer"
      type="error"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar>

  </v-container> -->
</v-app>
</template>

<script>
import Api from '../../store/Api'

export default {
  name: 'DashboardLogin',
  data: () => ({
    input:{
      username: "",
      password: ""
    },
    loadingLogin: false,
    snackbarer: false,
    dialogMessage: '',
    showPass: false,
    dialogContactUs: false
  }),
  
  methods: {
    async login(){
      if (this.input.username && this.input.password) {
          this.loadingLogin = true
          try {
            const login = await Api.post('/auth/login', {
              ...this.input
            })
  
            if(login.data.success) {
              let res = login.data
              localStorage.setItem('crm', res.data.access_token)
              localStorage.setItem('user', JSON.stringify(res.data.user))
              this.$router.replace('/')
              this.loadingLogin = false

            } else {
              this.loadingLogin = false
              this.snackbarer = true
              this.dialogMessage = login.data.message
            }
            
          } catch (error) {
            this.loadingLogin = false
            this.snackbarer = true
            this.dialogMessage = 'Something went wrong.'
          }
      } else {
        this.loadingLogin = false
        this.snackbarer = true
        this.dialogMessage = "Username dan Password harus diisi !"
      }
    }
  }
}
</script>
<style scoped>
  .bg-img {
    background-image: url('../../assets/jakarta2.jpg') !important;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
  }
  .dark-transparent {
    background: rgba(44,62,80,.3);
  }
  .contact-us {
    cursor: pointer;
    /* border: #02b3e4 solid 2px; */
    /* padding: 0px 2px 0px 2px; */
    /* border-radius: 8px; */
    transition: ease-in 0.1s;
  }
  .contact-us:hover {
    color: #AAA;
  }
  .app-primary {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    color: #FFF !important;
  }
</style>