<template>
    <v-dialog v-model="value" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Filter</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="save">
          <v-card-text>
            <v-container>
              <v-text-field
              regular
              label="Topic"
              class="mt-0"
              dense
              />
              <v-text-field
                regular
                label="Title Message"
                append-outer-icon="mdi-message-bulleted"
                class="mt-0"
                dense
              />
              <label class="label">Periode Message :</label>
              <v-row>
                <v-col>
                  <v-text-field
                  regular
                  label="Tanggal Dari"
                  class="mt-0"
                  dense
                  />
                </v-col>
                <v-col>
                  <v-text-field
                  class="mt-0"
                  regular
                  label="Tanggal Dari"
                  dense
                  />
                </v-col>
              </v-row>
              <v-row class="mt-n5">
                <v-col >
                  <v-select
                  label="Tipe Message"
                  class="mt-0"
                  dense
                  />
                </v-col>
              </v-row>
              <v-row class="mt-n5">
                <v-col>
                  <v-select
                  label="Periode Message"
                  class="mt-0"
                  dense
                  />
                </v-col>
              </v-row>
              <v-row class="mt-n5" >
                <v-col cols="12" sm="6">
                  <label class="label">Recipient :</label>
                  <v-radio-group row class="mt-0">
                    <v-radio label="All" :value= "0"></v-radio>
                    <v-radio label="Group" :value= "1" ></v-radio>
                    <v-radio label="Contact" :value= "2" ></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
              <v-row class="mt-n5">
                <v-col>
                  <v-text-field
                  regular
                  label="Contact"
                  append-outer-icon="mdi-account"
                  class="mt-0"
                  dense
                />
                </v-col>
                
              </v-row>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit"><span v-if="isEdit">Save</span><span v-else>Add</span></v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <!-- <base-material-snackbar
      v-model="snackbar"
      :type="type"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar> -->
    </v-dialog>
</template>
<script>
export default {
  props: ['value', 'editData', 'isEdit'],
  // data: () => ({
  
  // }),
  methods: {
    close() {
      this.$emit('input', false)
      this.$refs.form.reset()
    },
  }
}

</script>
<style>
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
</style>