<template>
    <v-dialog v-model="value" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Filter</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="save">
          <v-card-text>
            <v-container>
                <v-text-field v-model="form.name" class="mt-0" regular label="Name" dense clearable/>
                <v-autocomplete
                label="Province"
                v-model="form.prov_id"
                regular
                dense
                :items="prov"
                clearable
                />
                <v-autocomplete
                label="Regency"
                v-model="form.reg_id"
                regular
                dense
                :items="kab"
                clearable
                />
                <v-text-field v-model="form.ktp" class="mt-0" regular label="Identity(KTP)" dense clearable/>
                <v-text-field v-model="form.ident_number" class="mt-0" regular label="Identity Number(KK)" dense clearable/>
                <v-radio-group label="Gender :"  v-model="form.gender" row class="mt-0">
                    <v-radio label="Female" :value="1"></v-radio>
                    <v-radio label="Male" :value="0"></v-radio>
                </v-radio-group>
                <v-checkbox class="mt-0" v-model="form.active" :label="`Status: ${form.active ? 'Active' : 'Inactive'}`"/> 
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">OK</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <!-- <base-material-snackbar
      v-model="snackbar"
      :type="type"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar> -->
    </v-dialog>
</template>
<script>
import { mapState,mapActions } from 'vuex'
export default {
  props: ['value', 'refreshFilter'],
  data: () => ({
    type:[
      'Promotion',
      'News',
      'Reminder',
      'Re-booking'
    ],
    form : {
      name: '',
      prov_id:'',
      reg_id: '',
      ktp:'',
      ident_number: '',
      gender: '',
      active: true,
    }
  }),
   computed: {
    ...mapState('region', ['prov', 'kab']),
  },
  methods: {
    ...mapActions('contact', [
        'GET_CONTACT'
      ]),
    ...mapActions('region', [
      'GET_PROV', 'GET_KAB'
    ]),
    close() {
      this.$emit('input', false)
    },
    async save(){
      const { name, prov_id, reg_id, ktp, ident_number, gender, active } = this.form
      const param = {
        name: name ? name : '',
        prov_id: prov_id ? prov_id : '',
        reg_id: reg_id ? reg_id : '',
        ktp: ktp ? ktp : '',
        ident_number: ident_number ? ident_number : '',
        gender: gender ? gender : '',
        active
      }
      this.$emit('ok')
      this.GET_CONTACT(param)
      this.refreshFilter = false
      this.close()
      // console.log(param);
    }
  },
  watch: {
    async value(val){
      if (val) {
        await this.GET_PROV()
        if (this.refreshFilter == true) {
          this.form = {
            name: '',
            prov_id:'',
            reg_id: '',
            ktp:'',
            ident_number: '',
            gender: '',
            active: true,
          }
        }
      }
    },
    'form.prov_id'(val) {
      this.GET_KAB(val)
    },
  }
}

</script>
<style>
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
</style>