<template>
    <v-dialog v-model="value" persistent scrollable max-width="1000px">
      <v-form ref="form" @submit.prevent="save">
        <v-card :loading="loading.card">
          <v-card-title>
            <span class="headline">Contact</span>
            <v-divider></v-divider>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col >
                  <v-text-field
                     
                    class="mt-2"
                    dense
                    label="Identity (Kartu Keluarga)"
                    :rules="rules.number"
                    v-model="form.ident_number"
                  />
                  <v-text-field
                     
                    class="mt-2"
                    dense
                    label="Identity (Kartu Tanda Penduduk)"
                    :rules="rules.number"
                    v-model="form.ktp"
                  />
                  <v-text-field
                    class="mt-2"
                    dense
                    label="Name"
                    v-model="form.name"
                  />
                  <v-autocomplete
                  class="mt-2"
                  label="Province"
                  dense
                  v-model="prov_id"
                  :items="prov"
                  />
                  <v-autocomplete
                  class="mt-2"
                  label="Regency"
                  dense
                  v-model="reg_id"
                  :items="kab"
                  />
                  <!-- <v-text-field
                    class="mt-2"
                    dense
                    label="City"
                    v-model="form.city"
                  /> -->
                  <v-text-field
                    class="mt-2"
                    dense
                    label="Address"
                    v-model="form.address"
                  />
                 
                  <v-text-field
                    class="mt-2"
                    dense
                    label="Whatsapp"
                    :rules="rules.number"
                    v-model="form.wa"
                  />
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        
                        class="mt-2"
                        dense
                        label="Place of birth"
                        v-model="form.place_of_birth"
                      />
                    </v-col>
                    <v-col cols="12" sm="6">
                    <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      transition="fade-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="form.date_of_birth"
                          dense
                          label="Date of birth"
                          v-on="on"
                          class="mt-2"
                        ></v-text-field>
                      </template>
                      <v-date-picker color="primary" v-model="datePicker" @input="menu1 = false" class="ma-0"></v-date-picker>
                    </v-menu>       
                    </v-col>
                  </v-row>
                  <v-text-field
                    
                    class="mt-2"
                    regular
                    label="Email"
                    v-model="form.email"
                  />
                   <v-radio-group label="Gender :"  v-model="form.gender" row class="mt-0">
                    <v-radio label="Female" :value="1"></v-radio>
                    <v-radio label="Male" :value="0"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col>
                  <v-autocomplete
                    label="Profession"
                    v-model="form.profession_id"
                    :items="profession"
                    dense
                    class="mt-2"
                  />
                  <v-select
                    v-model="form.status_kawin"
                    :items="statusKawin"
                    dense
                    class="mt-2"
                    menu-props="auto"
                    label="Marital status"
                  ></v-select>
                  <v-select
                    v-model="form.religion"
                    :items="religion"
                    dense
                    class="mt-2"
                    menu-props="auto"
                    label="Religion"
                  ></v-select>
                  <v-select
                    v-model="form.blood"
                    :items="blood"
                    class="mt-2"
                    dense
                    menu-props="auto"
                    label="Blood Type"
                  ></v-select>
                  <v-textarea
                    class="mt-2"
                    dense
                    label="Note"
                    v-model="form.note"
                  />
                  <v-select
                    v-model="form.status"
                    :items="status"
                    class="mt-2"
                    dense
                    menu-props="auto"
                    label="Status"
                  ></v-select>
                </v-col>
                <v-col >
                   <!-- <PictureInput class="mt-n4" ref="pictureInput" :width="150" :removable="true" removeButtonClass="error pa-1" :height="150" accept="image/jpeg, image/png" :hideChangeButton="true" :customStrings="{ drag: 'Drag and drop default picture here' }" v-model="foto" :zIndex="1" :crop="false" :size="1"/> -->
                   <v-img :src="contactDet.profile_photo" max-width="200" />

                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
             <v-btn color="primary" tile text type="submit">
              <span v-if="!loading.send" >Save</span>
              <v-progress-circular v-else-if="loading.send"
                indeterminate
                color="primary"
                size="20"
                width="3"
              ></v-progress-circular>
            </v-btn>
            <base-material-snackbar
            v-model="snackbar"
            type="error"
            v-bind="{
              ['top']: true,
              ['center']: true
            }"
            >
            {{dialogMessage}} 
            </base-material-snackbar>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import moment from 'moment'
import Api from '../../../../../store/Api'
import PictureInput from '../../../../../components/base/PictureInput2'


export default {
  components:{
    PictureInput,
  },
  props: ['value', 'editData'],
  data: vm => ({
      datePicker: moment().format('YYYY-MM-DD'),
      menu1: false,
      checkbox1: 'Tidak aktif',
      form: {
        ident_number: '',
        ktp: '',
        name: '',
        prov_id: '',
        reg_id: '',
        city: '',
        address: '',
        gender: '',
        wa: '',
        place_of_birth: '',
        email: '',
        profession_id: '',
        status_kawin: '',
        religion: '',
        blood: '',
        note: '',
        status: ''
      },
      statusKawin: [
        { text: 'Belum Kawin', value: 1}, 
        { text: 'Kawin', value: 2},
        { text: 'Cerai Hidup', value: 3},
        { text: 'Cerai Mati', value: 4},
      ],
      status: [
        { text: 'Tidak Aktif', value: 0}, 
        { text: 'Aktif', value: 1},
       
      ],
      blood: [
        { text: 'A', value: 1}, 
        { text: 'B', value: 2},
        { text: 'AB', value: 3},
        { text: 'O', value: 4},
      ],
      religion: [
        { text: 'Islam', value: 1}, 
        { text: 'Kristen', value: 2},
        { text: 'Katholik', value: 3},
        { text: 'Hindu', value: 4},
        { text: 'Budha', value: 5},
      ],
      foto: null,
      prov_id: null,
      reg_id: null,
      loading: {
        send: false,
        card: false
      },
      snackbar: false,
      dialogMessage: '',
      rules:{
        number: [
          v => Number.isInteger(Number(v)) || "The value must be numbers",
        ],
      }
  }),

  computed: {
    ...mapState('contact', ['contactDet','profession']),
    ...mapState('region', ['prov', 'kab']),
    
  },
  watch: {
    // date (val) {
    //   this.dateFormatted = this.formatDate(this.date)
    // },
  },
  methods:{
    ...mapActions('contact', [
      'GET_DETAIL', 'EDIT_CONTACT','GET_PROFESSION'
    ]),
    ...mapActions('region', [
      'GET_PROV', 'GET_KAB'
    ]),
    // onChanged() {
    // console.log("New picture loaded");
    // },
    onRemoved() {
      this.foto = '';
    },
    async save(){
      this.loading.send = true
      this.form.reg_id = this.reg_id
      this.form.prov_id = this.prov_id
      if (this.$refs.form.validate()) {
        try {
          let put = await this.EDIT_CONTACT(this.form)
          if (put.data.success) {
            this.loading.send = false
            this.$emit('snackbar', put.data.message)
            this.$emit('reload')
            this.close()
          } else {
            this.loading.send = false
            this.snackbar = true
            this.dialogMessage = put.data.message
          }
        } catch (error) {
          this.loading = false
          this.dialogMessage = 'Something went wrong.'
          this.snackbar = true
        }
        
      } else {
        this.loading.send = false
        this.snackbar = true
        this.dialogMessage = 'Invalid Data'
      }
    },
     close() {
      this.$emit('input', false)
    },
    formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
    },
    parseDate (date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
  },
  mounted() {
    this.GET_PROV()
  },
  watch:{
    async editData(value) {
      if(value !== null) {
        this.loading.card = true
        await this.GET_PROFESSION()
        let res = await this.GET_DETAIL(value)
        if (res.data.success) {
          this.loading.card = false
          this.form = {...res.data.data}
          this.prov_id = res.data.data.prov_id
          this.reg_id = res.data.data.reg_id
          if (this.form.date_of_birth != '0000-00-00')
            this.datePicker = moment(this.form.date_of_birth).format('YYYY-MM-DD')
        }
      }
    },
    prov_id(val) {
      this.GET_KAB(val)
    },
    datePicker(val) {
      this.form.date_of_birth = moment(val).format('L')
    }
  }
}

</script>
<style scoped>
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
}
</style>