<script>
import { Bar, mixins } from 'vue-chartjs'

export default {
  extends: Bar,
  mixins: [mixins.reactiveProp],
  // props: ['options'],
  data: () => ({
    options: {            
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            // callback: function(value, index, values) {
            //     return float2dollar(value);
            // }
          }
        }]                
      },
    legend: {
      display: false
    },
    tooltips: {
        callbacks: {
           label: function(tooltipItem) {
                  return tooltipItem.yLabel;
           }
        }
    }
    },
  }),
  mounted () {
    this.renderChart(this.chartData, this.options)
  }
}
</script>

<style>
</style>
