<template>
  <v-file-input
    v-model="file"
    chips
    accept="image/*"
    label="Image"
    value="asu"
    @change="onFileChange"
  />
</template>

<script>
export default {
  data: { file: null, image: null },
  methods: {
    onFileChange(e, prefill) {
      console.log(e, prefill)
      // console.log('file', this.file)
      // const reader = new FileReader()
      // reader.readAsDataURL(this.file)
      // reader.onload = async e => {
      //     this.image = e.target.result
      //     // console.log(this.image)
      //     const res = await fetch(this.image)
      //     const blob = await res.blob()
      //     console.log(blob)
      //     const newFile = new File([blob])
      // }
    },
  },
}
</script>