<template>
  <pictureinput
    class="mr-2"
    ref="pictureInput"
    @change="onChange"
    :width="150"
    :removable="true"
    removeButtonClass="error pa-1"
    :height="150"
    accept="image/jpeg, image/png, image/gif"
    :hideChangeButton="true"
    :customStrings="{
    drag: 'Drag and drop default picture here'}"
    :zIndex="1"
    :crop="false"
  ></pictureinput>
</template>

<script>
import pictureinput from 'vue-picture-input'
export default {
  components: {
    pictureinput
  },
  methods: {
    onChange(image) {
      this.$emit('input', image)
    },
  }
}
</script>