<template>
    <v-dialog v-model="value" persistent max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">Schedule Message</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="save">
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="8">
                  <v-text-field v-model="form.name" dense class="mt-0" regular label="Program name" :rules="rules.message"/>
                  <v-text-field v-model="title" dense class="mt-0" regular label="Template Message" disabled filled :rules="rules.title">
                    <v-icon color="primary" class="lock-button" slot="append-outer" @click="dataTemplate" v-if="!loading.message" :disabled="this.isEdit">
                      mdi-message-bulleted
                    </v-icon>
                    <v-progress-circular v-else-if="loading.message"
                    indeterminate
                    color="primary"
                    size="20"
                    width="3"
                    slot="append-outer"
                  ></v-progress-circular>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-row class="mt-n5">
                <v-col cols="12" sm="12">
                  <v-textarea v-model="content" dense class="mt-0" regular label="Content" disabled filled rows="7" :rules="rules.content"/>
                </v-col>
                <v-col>
                  <!-- <div class="border pa-2 mb-5">
                  <h4 class="my-2">Picture</h4>
                      <v-flex class="d-flex flex-row">
                        <pictureinput
                          v-for="(c, i) in imgSlide"
                          :key="i"
                          class="mr-1"
                          ref="pictureInput"
                          @remove="onRemoved"
                          :width="150"
                          :removable="true"
                          removeButtonClass="error pa-1"
                          :height="150"
                          accept="image/jpeg, image/png, image/gif"
                          :hideChangeButton="true"
                          :customStrings="{
                          drag: 'Drag and drop default picture here'}"
                          v-model="foto"
                          :zIndex="1"
                        ></pictureinput>
                      </v-flex>
                  </div> -->
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6">
                  <label class="label">Recipient :</label>
                  <v-radio-group v-model="recipient" row class="mt-0" :disabled="isEdit" >
                    <v-radio label="Contact" :value= "0" />
                    <v-radio label="Group" :value= "1" />
                    <v-radio label="All" :value= "2" />
                  </v-radio-group>
                  <v-text-field
                  v-model="total"
                  dense 
                  class="mt-2"
                  regular
                  label="Total Recipient"
                  disabled
                />
                </v-col>
                <v-col cols="12" sm="6">
                  <v-flex xs6>
                    <v-btn depressed tile small class="mt-5 primary" v-if="this.form.recipient === 0 && this.isEdit == false" @click="dataContact" >
                      Select Contact
                    </v-btn>
                    <v-btn depressed tile small class="mt-5 primary" v-if="this.form.recipient === 1 && this.isEdit == false" @click="dataGroup" >
                      Select Group
                    </v-btn>
                  </v-flex>
                </v-col>
                
              </v-row>
                  <div class="border pa-3 mb-5">
                  <h4 class="my-2">Schedule</h4>
                      <v-flex class="d-flex flex-row">
                        <v-menu
                        v-model="menu1"
                        :close-on-content-click="false"
                        transition="fade-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="form.start_date"
                            label="Start Date"
                            v-on="on"
                            dense
                            class="mr-5"
                            :rules="rules.start_date"
                          ></v-text-field>
                        </template>
                        <v-date-picker color="primary" v-model="datePickerStart" @input="menu1 = false" class="ma-0"></v-date-picker>
                      </v-menu>
                      <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        transition="fade-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="form.end_date"
                            label="End Date"
                            v-on="on"
                            dense
                            :rules="rules.end_date"
                          ></v-text-field>
                        </template>
                        <v-date-picker  color="primary" v-model="datePickerEnd" @input="menu2 = false" class="ma-0"></v-date-picker>
                      </v-menu>              
                      </v-flex>
                      <v-flex class="d-flex flex-row mb-3">
                        <v-radio-group v-model="form.schedule" :rules="rules.schedule" row> 
                          <v-radio label="Every Day" :value="1" />
                          <v-radio label="Every Week" :value="2" />
                          <v-radio label="Every Month" :value="3" />
                          <v-radio label="Every Year" :value="4" />
                          <v-radio label="Birth Day" :value="5" />
                        </v-radio-group>
                      </v-flex>
                      <v-row class="mt-n5">
                        <v-col  cols="12" sm="4" v-if="form.schedule == 4">
                          <v-select
                            v-model="monthPicker"
                            :items="monthList"
                            label="Month"
                            dense
                          ></v-select>   
                        </v-col>
                        <v-col cols="12" sm="4" v-if="form.schedule == 3 || form.schedule == 4">
                          <v-select
                            v-model="dateOnlyPicker"
                            :items="dateList"
                            label="Date"
                            dense
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4" v-if="form.schedule == 2">
                           <v-select
                            v-model="dayPicker"
                            :items="dayList"
                            label="Day"
                            dense
                          ></v-select>    
                        </v-col>
                      </v-row>
                  </div>
              <v-row class="ml-1">
                <label class="label">Platform :</label>
                <v-checkbox class="mt-n1 mx-1" label="Speed.id" v-model="form.send_to_speed_id" disabled></v-checkbox>
                <!-- <v-checkbox class="mt-n1 mx-1" label="Whatsapp" v-model="form.wa"></v-checkbox -->
              </v-row>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
             <v-btn color="primary" tile text type="submit">
              <span v-if="!loading.send && !isEdit" >Add</span>
              <span v-if="!loading.send && isEdit" >Save</span>
              <v-progress-circular v-else-if="loading.send"
                indeterminate
                color="primary"
                size="20"
                width="3"
              ></v-progress-circular>
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <DialogDataTemplateMessage
      v-model="dialogDataTemplateMessage" 
      @selectedTemplate="selectedTemplate"
      :reSelect="reSelectTemplate"
      @loaded="setSelectedTemplateMessage"
      />
      <DialogDataGroup 
      v-model="dialogDataGroup" 
      @selectedGroup="selectedGroup"
      :reSelect="reSelectGroup"
      @loaded="setSelectedGroup"
      />
      <DialogDataContact
      v-model="dialogDataContact"
      :reSelect="reSelectContact" 
      @selectedContact="selectedContact"
      />
      <base-material-snackbar
      v-model="snackbar"
      :type="snackType"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar>
    </v-dialog>
</template>
<script>
import { VueEditor } from "vue2-editor"
import pictureinput from 'vue-picture-input'
import DialogDataTemplateMessage from '../send/dialogDataMessageTemplate'
import DialogDataGroup from '../send/dialogDataGroup'
import DialogDataContact from '../group/dialogDataContact'
import { mapState,mapActions } from 'vuex'
import moment from 'moment'
import Api from '../../../../../store/Api'

export default {
  components:{
    VueEditor,
    pictureinput,
    DialogDataTemplateMessage,
    DialogDataGroup,
    DialogDataContact
  },
  props: ['value','editData'],
  data(){
    return {
      datePickerStart: null,
      datePickerEnd: null,
      dayPicker: null,
      dateOnlyPicker: null,
      monthPicker: null,
      menu1: false,
      menu2: false,
      form: {
        name: '',
        message_id: null,
        contact:[],
        group:[],
        recipient: '',
        schedule: 0,
        start_date: '',
        end_date: '',
        send_to_speed_id: true,
        day: '',
        date: '',
        month:''
      },
      rules:{
        message: [
           v => !!v || 'Program name is required !'
        ],
        title: [
           v => !!v || 'Title is required !'
        ],
        content: [
           v => !!v || 'Content is required !'
        ],
        // recipient: [
        //    v => (v != null) || 'Recipient is required !'
        // ],
        start_date: [
           v => !!v || 'Start date is required !'
        ],
        end_date: [
           v => !!v || 'End date is required !'
        ],
        schedule: [
           v => !!v || 'Required !'
        ]
      },  
      title: '',
      content: '',
      recipient:'',
      customToolbar: [
        [
        { header: [false, 1, 2, 3, 4, 5, 6] }
        ],
        ["bold", "italic", "underline", "strike"], 
        [{ list: "ordered" }, { list: "bullet" }],
        [{ align: ""},{ align: "center" },{ align: "right" },{ align: "justify" }],
        [
          { indent: "-1" },
          { indent: "+1" }
        ],
      ],
      imgSlide: [
        {img: null},
        {img: null},
        {img: null},
      ],
      dialogDataTemplateMessage: false,
      dialogDataGroup: false,
      dialogDataContact: false,
      dayList: [
        {text: 'Senin' , value: 1},
        {text: 'Selasa' , value: 2},
        {text: 'Rabu' , value: 3},
        {text: 'Kamis' , value: 4},
        {text: 'Jumat' , value: 5},
        {text: 'Sabtu' , value: 6},
        {text: 'Minggu' , value: 7},
      ],
      dateList: Array.apply(null, Array(31)).map((x,i) => i+1),
      monthList: moment.months().map((x, i) => ({text: x, value: i+1})),
      loading: {
        message: false,
        send: false
      },
      selectedMessageTemplate:[],
      reSelectTemplate: [],
      selectedGroupData:[],
      reSelectGroup:[],
      contact:[],
      reSelectContact:[],
      selectedMessageTemplateId: null,
      selectedGroupDataId: null,
      total: 0,
      isEdit: false,
      snackType: '',
      snackbar: false,
      dialogMessage: ''
    }
  },
  computed:{
    ...mapState('message', [
     'templateDet','scheduleDet','template'
    ]),
    ...mapState('group', [
      'group'
    ]),
     ...mapState('dashboard', [
     'dashboard'
    ]),
  },
  methods:{
    ...mapActions('message', [
      'GET_DETAIL','GET_SCHEDULE_DETAIL'
    ]),
    ...mapActions('dashboard', [
        'GET_DASHBOARD'
      ]),
    async selectedTemplate(data){
      this.selectedMessageTemplate = data
      if (!data.length) return
      this.loading.message = true
      let res = await this.GET_DETAIL(this.selectedMessageTemplate[0].id)
      if (res.data.success) {
        this.loading.message = false
        if (res.data.data.category == "Short Message") {
          this.title = res.data.data.title
          this.content = res.data.data.highlight
        } else {
          this.title = res.data.data.title
          this.content = res.data.data.content
        }
        this.form.message_id = data[0].id
      }
    },
    selectedGroup(data){
      this.selectedGroupData = data
      const members = []
      let total_recepient = 0
      this.form.group = this.selectedGroupData.map(g => {
        // total_recepient += g.contact_total
        g.contact.forEach(c => {
          if (!members.includes(c))
            members.push(c)
        })

        total_recepient = members.length
        
        return g.id
      })
      this.total = total_recepient
    },
    selectedContact(data){
      this.contact = data
      this.form.contact = this.contact.map(c => c.id)
      this.total = this.form.contact.length
    },
    async save() {
        // console.log(moment().diff(this.form.start_date, 'days'));
      
      if (this.form.schedule == 2) {
        this.form.day = this.dayPicker
      } else if (this.form.schedule == 3) {
        this.form.date = this.dateOnlyPicker
      } else if (this.form.schedule == 4) {
        this.form.date = this.dateOnlyPicker
        this.form.month = moment(this.monthPicker, "M").format('MM')
      }
      if (moment(this.form.end_date).diff(this.form.start_date, 'days') < 0) {
        this.snackbar = true
        this.dialogMessage = 'Invalid Date'
        this.snackType = 'error'
      }
      if ((moment().diff(this.form.start_date, 'days') > 0 || moment().diff(this.form.end_date, 'days') > 0) && this.editData == null) {
        this.snackbar = true
        this.dialogMessage = 'Invalid Date'
        this.snackType = 'error'
      }
      if (this.total <= 0) {
        this.snackbar = true
        this.dialogMessage = "the total recipient can't be 0"
        this.snackType = 'error'
      }
      if (this.$refs.form.validate()) {
        if (this.editData !== null) {
          this.loading.send = true
          try {
            let put = await Api.put('/message/schedule/'+this.editData, this.form)
            if (put.data.success) {
              this.$emit('snackbar', put.data.message)
              this.loading.send = false
              this.close()
              this.$emit('reload')
            } else {
              this.loading.send = false
              this.snackbar = true
              this.dialogMessage = put.data.message
              this.snackType = 'error'
            }
          } catch (error) {
            this.loading.send = false
            this.dialogMessage = 'Something went wrong.'
            this.snackType = 'error'
            this.snackbar = true
          }
          
        } else {
          this.loading.send = true
          try {
            let post = await Api.post('/message/schedule', this.form)
            if (post.data.success) {
              this.$emit('snackbar', post.data.message)
              this.loading.send = false
              this.close()
              this.$emit('reload')
            } else {
              this.loading.send = false
              this.snackbar = true
              this.dialogMessage = post.data.message
              this.snackType = 'error'
            }  
          } catch (error) {
            this.loading.send = false
            this.dialogMessage = 'Something went wrong.'
            this.snackType = 'error'
            this.snackbar = true
          }
          
        }
      }

      // const body = this.form.recipient === 0 ? {
      //   message_id: this.form.message_id,
      //   recipient: this.form.recipient,
      //   contact: this.form.contact,
      //   send_to_speed_id: this.form.send_to_speed_id
      // } : this.form.recipient === 1 ? {
      //   message_id: this.form.message_id,
      //   recipient: this.form.recipient,
      //   group: this.form.group,
      //   send_to_speed_id: this.form.send_to_speed_id
      // } : this.form.recipient === 2 && {
      //   message_id: this.form.message_id,
      //   recipient: this.form.recipient,
      //   send_to_speed_id: this.form.send_to_speed_id
      // }
      // 
    },
    close() {
      this.$refs.form.reset()
      this.$emit('input', false)
    },
    dataTemplate(){
      this.dialogDataTemplateMessage = true
    },
    dataGroup(){
      this.dialogDataGroup = true
    },
    dataContact(){
      this.dialogDataContact = true
    },
    setSelectedTemplateMessage() {
      if (this.editData)
        this.selectedMessageTemplate = this.template.filter(x => x.id == this.selectedMessageTemplateId)
    },
    setSelectedGroup() {
      if (this.editData)
        this.selectedGroupData = this.group.filter(g => this.selectedGroupDataId.includes(g.id))
    },
  },
  watch: {  
    async recipient(val){
      if (val != null && !this.editData) {
        this.form.recipient = val
        this.total = 0
        if (val === 0) {
          this.reSelectGroup = 0
        } else if (val === 1) {
          this.reSelectContact = 0
        }else if (val === 2) {
          if (!this.dashboard.contact) {
            await this.GET_DASHBOARD()
          }
          this.total = this.dashboard.contact
          this.reSelectGroup = 0
          this.reSelectContact = 0
        }
      } else {
        this.form.recipient = val

      }
    },
    // recipient(val){
    //   this.form.recipient = val
    //   if (val === 0) {
    //     this.reSelectGroup = []
    //   } else if (val === 1) {
    //     this.reSelectContact = []
    //   } else if(val === 2)  {
    //     this.total = this.dashboard.contact
    //     this.reSelectGroup = []
    //     this.reSelectContact = []
    //   }
    // },
    selectedMessageTemplate(val){
      this.reSelectTemplate = val
    },
    selectedGroupData(val) {
      this.reSelectGroup = val
    },
    contact(val) {
      this.reSelectContact = val
    },
    menu1(val){
      if (val == false) { 
        if (this.datePickerStart !== null ) {
          const start = this.datePickerStart
          this.form.start_date = moment(start).format('LL')
        } 
        
      }
    },
    menu2(val){
      if (val == false) {
        if (this.datePickerEnd !== null) {
          const end = this.datePickerEnd
          this.form.end_date = moment(end).format('LL')
        } 
      }
    },
    monthPicker(val) {
      this.dateList = Array.apply(null, Array(moment(val+' 2020', 'M YYYY').daysInMonth())).map((x,i) => i+1)
    },
    async editData(val){
      if (!(!val)) {
        this.isEdit = true
        let res = await this.GET_SCHEDULE_DETAIL(val)
        if (res.data.success) {
          this.form = {
            name: res.data.data.name,
            // message_id: null,
            contact:[],
            group:[],
            // recipient: 0,
            schedule: res.data.data.schedule,
            start_date: res.data.data.start_date,
            end_date: res.data.data.end_date,
            send_to_speed_id: true,
          }
          this.datePickerStart = this.form.start_date
          this.datePickerEnd = this.form.end_date
          this.recipient = res.data.data.recipient
          this.selectedGroupDataId = res.data.data.group
          this.selectedMessageTemplateId = res.data.data.message_id
          this.total = res.data.data.total_recipient
          
          if (this.form.schedule == 2) {
            // this.form.day = this.dayPicker
            this.dayPicker = res.data.data.day
          } else if (this.form.schedule == 3) {
            this.dateOnlyPicker  = res.data.data.date
            // this.form.date = this.dateOnlyPicker
          } else if (this.form.schedule == 4) {
            this.dateOnlyPicker = res.data.data.date
            // this.monthPicker = moment(res.data.data.month + ' 2020', 'MM YYYY').format('MMMM')
            this.monthPicker = res.data.data.month
          }
          
          let getDetailTemplate = await this.GET_DETAIL(res.data.data.message_id)
          if (getDetailTemplate.data.success) {
            this.loading.message = false
             if (getDetailTemplate.data.data.category == "Short Message") {
                this.title = getDetailTemplate.data.data.title
                this.content = getDetailTemplate.data.data.highlight
              } else {
                this.title = getDetailTemplate.data.data.title
                this.content = getDetailTemplate.data.data.content
              }

        
          }
          
        }
      } else {
        this.isEdit = false
      }
    },
    value(val){
      if (val) {
        this.form =  {
        send_to_speed_id: true,
        }
      this.recipient = null
      } else {
        this.selectedMessageTemplate = []
        this.selectedGroupData = []
        this.contact = []
      }
    }
  },
  
}
</script>
<style scoped>
.pic{
  /* margin-left: -450px; */
  width: 150px;
}
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.border{
    border: 1px solid  rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
  }
.lock-button {
  pointer-events: auto;
}
</style>
