<template>
    <v-dialog v-model="value" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Filter</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="save">
          <v-card-text>
            <v-container>
                <v-radio-group v-model="form.category" label="Category :" row class="mt-0">
                    <v-radio label="Feed Message" value="Feed Message"></v-radio>
                    <v-radio label="Short Message" value="Short Message" ></v-radio>
                </v-radio-group>
                <v-autocomplete
                label="Message"
                v-model="form.message_id"
                :items="message"
                regular
                dense
                clearable
                />
                <span class="label">Message period:</span>
                <v-flex class="d-flex flex-row mt-2">
                    <v-menu
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="fade-transition"
                    offset-y
                    min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="start_date"
                        label="Start Date"
                        v-on="on"
                        dense
                        class="mr-5"
                        clearable
                        ></v-text-field>
                    </template>
                    <v-date-picker color="primary" v-model="datePickerStart" @input="menu1 = false" class="ma-0"></v-date-picker>
                    </v-menu>
                    <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    transition="fade-transition"
                    offset-y
                    min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                        v-model="end_date"
                        label="End Date"
                        v-on="on"
                        dense
                        clearable
                        ></v-text-field>
                    </template>
                    <v-date-picker  color="primary" v-model="datePickerEnd" @input="menu2 = false" class="ma-0"></v-date-picker>
                    </v-menu>              
                    </v-flex>
                <v-checkbox class="mt-0" v-model="form.active" :label="`Status: ${form.active ? 'Active' : 'Inactive'}`"/> 


            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">Ok</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <!-- <base-material-snackbar
      v-model="snackbar"
      :type="type"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar> -->
    </v-dialog>
</template>
<script>
import { mapState,mapActions } from 'vuex'
import moment from 'moment'
export default {
  props: ['value',],
  data: () => ({
    datePickerStart: null,
    datePickerEnd: null,
    menu1: false,
    menu2: false,
    form: {
      active: '',
      category:'',
      message_id: '',
      start_date: '',
      end_date:''
    },
    // rules:{
    //     message: [
    //        v => !!v || 'Message is required !'
    //     ],
    // },  
      start_date: '',
      end_date:'',
      message: []
  }),
  methods: {
    ...mapActions('message', [
      'GET_SCHEDULE','GET_TEMPLATE'
    ]),
    close() {
      // this.$refs.form.reset()
      this.$emit('input', false)
    },
    async save(){
      if (!this.start_date) 
        this.form.start_date = ''
      if (!this.end_date) 
        this.form.end_date = ''

      let res = await this.GET_SCHEDULE(this.form)
      if (res.data.success) {
        this.close()

      }
    }
  },
  watch:{
    // datePickerStart(val) {
    //   this.start_date = moment(val).format('LL')
    //   this.form.start_date = val
    // },
    // datePickerEnd(val) {
    //   this.end_date = moment(val).format('LL')
    //   this.form.end_date = val
    // },
    menu1(val){
      if (val == false) { 
        if (this.datePickerStart !== null ) {
          const start = this.datePickerStart
          this.form.start_date = start
          this.start_date = moment(start).format('LL')
        } 
        
      }
    },
    menu2(val){
      if (val == false) {
        if (this.datePickerEnd !== null) {
          const end = this.datePickerEnd
          this.form.end_date = end
          this.end_date = moment(end).format('LL')
        } 
      }
    },
    async value(val){
      if (val) {
        // this.form = {
        //   active: true,
        //   // category:'',
        //   // message: '',
        //   // start_date: '',
        //   // end_date:''
        // }
        let res = await this.GET_TEMPLATE()
        if (res.data.success) {
          this.message = res.data.data.map(x => ({
           text: x.title,
           value: x.id
         }))
        }
      }
    }

  },
}

</script>
<style>
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
</style>