<template>
    <v-dialog v-model="value" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Group</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="add">
          <v-card-text>
            <v-container>
              <v-data-table
                v-model="selected"
                :headers="head"
                :items="group"
                item-key="id"
                show-select
                :loading="loading"
                loading-text="Loading... Please wait"
              />
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">Save</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
  components:{
  },
  props: ['value','reSelect'],
  data(){
    return{
      head: [
          {
            text: 'Group Name',
            value: 'name'
          },
          {
            text: 'Contact Total',
            value: 'contact_total'
          },
          {
            text: 'Status',
            value: 'status'
          },
        ],
        selected: [],
        loading: false
    }
  },
  computed: {
    ...mapState('group', [
      'group'
    ]),
  },
  methods:{
    ...mapActions('group', [
      'GET_GROUP'
    ]),
    close() {
      this.$emit('input', false)
    },
    add(){
      this.$emit('selectedGroup', this.selected)
      this.$emit('input', false)
    }
  },
  mounted(){
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem'
  },
  watch: {
    async value(val) {
      if (val) {
        this.loading = true
        let get = await this.GET_GROUP({
          active: true
        })
        if (get.data.success) {
          this.loading = false
          this.$emit('loaded')
        }
      }
    },
    reSelect(val) {
      this.selected = !val ? [] : val
    }
  }
}
</script>
