<template>
    <v-dialog v-model="value" persistent max-width="650px">
      <v-card>
        <v-card-title>
          <span class="headline">Message Template</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="add">
          <v-card-text>
            <v-container>
              <v-data-table
                v-model="selected"
                :items="template"
                :headers="head"
                item-key="id"
                show-select
                single-select
                :loading="loading"
                loading-text="Loading... Please wait"
              >
              <template v-slot:item.type="{ item }">
                <span v-if="item.category == 'Short Message'"> Other </span>
                <span v-else v-text="item.type">  </span>
              </template>
            </v-data-table>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">Save</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <!-- <base-material-snackbar
      v-model="snackbar"
      :type="type"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar> -->
    </v-dialog>
</template>
<script>
import { mapState,mapActions } from 'vuex'

export default {
  components:{
  },
  props: ['value','reSelect'],
  data(){
    return{
      head: [
        {
          text: 'No',
          value: 'no',
        },
        {
          text: 'Category',
          value: 'category',
        },
        {
          text: 'Type',
          value: 'type'
        },
        {
          text: 'Title',
          value: 'title'
        },
      ],
      selected:  [],
      loading:false
    }
  },
  mounted(){
    document.querySelector('.v-data-footer').style.fontSize = '0.9rem'
  },
  methods:{
    ...mapActions('message', [
      'GET_TEMPLATE'
    ]),
    close() {
      this.reSelect = []
      this.$emit('input', false)
    },
    add() {
      this.$emit('selectedTemplate', this.selected)
      this.$emit('input', false)
    }
  },
  computed: {
    ...mapState('message', [
      'template'
    ]),
  },
  watch: {
    async value(val) {
      this.selected = !this.reSelect ? [] : this.reSelect
      // console.log(this.selected[0]);
      if (val) {
        this.loading = true
        let get = await this.GET_TEMPLATE({
          category:'',
          title: '',  
          type:'',
          active: true
      
        })
        if (get.data.success) {
          this.loading = false
          this.$emit('loaded')
        }
      }
    },
    
  }
}
</script>
