<template>
    <v-dialog v-model="value" persistent max-width="650px">
      <v-card>
        <v-card-title>
          <span class="headline">Send Message</span>
          <v-divider></v-divider>
        </v-card-title>
        <v-form ref="form" @submit.prevent="add">
          <v-card-text>
            <v-container>
              <v-row class=""> 
                <v-col cols="12" sm="6">
                  <v-text-field v-model="form.name" dense class="mt-0" regular label="Program name" :rules="rules.message"/>
                  <v-text-field
                    v-model="title"
                    dense 
                    class="mt-0"
                    regular
                    label="Message Title"
                    disabled
                    filled
                  >
                    <v-icon color="primary" class="lock-button" slot="append-outer" @click="dataTemplate" v-if="!loading.message">
                      mdi-message-bulleted
                    </v-icon>
                    <v-progress-circular v-else-if="loading.message"
                    indeterminate
                    color="primary"
                    size="20"
                    width="3"
                    slot="append-outer"
                  ></v-progress-circular>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-textarea
                v-model="content"
                dense 
                class="mt-0"
                regular
                label="Content"
                disabled
                filled
                rows="7"
              />
              
              <v-row >
                <v-col cols="12" sm="6">
                  <label class="label">Recipient :</label>
                  <v-radio-group v-model="recipient" row class="mt-0">
                    <v-radio label="Contact" :value= "0" ></v-radio>
                    <v-radio label="Group" :value= "1" ></v-radio>
                    <v-radio label="All" :value= "2"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-flex xs6 >
                    <v-btn depressed tile small class="mt-5 primary" v-if="form.recipient === 1" @click="dataGroup">
                     Select Group
                    </v-btn>
                    <v-btn depressed tile small class="mt-5 primary" v-if="form.recipient === 0" @click="dataContact">
                     Select Contact
                    </v-btn>
                  </v-flex>
                </v-col>
              </v-row>
              <v-flex xs5 >
                <v-text-field
                  v-model="total"
                  dense 
                  class="mt-0"
                  regular
                  label="Total Recipient"
                  disabled
                />
              </v-flex>
              <v-checkbox disabled v-model="form.send_to_speed_id" :label="`Send To Speed Id ?  ${form.send_to_speed_id ? 'Yes' : 'No'}`"/> 
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" tile text @click="close()">Close</v-btn>
            <v-btn color="primary" tile text type="submit">
              <span v-if="!loading.send" >Add</span>
              <v-progress-circular v-else-if="loading.send"
                indeterminate
                color="primary"
                size="20"
                width="3"
              ></v-progress-circular>
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <DialogDataMessageTemplate
      v-model="dialogDataMessageTemplate"
      @selectedTemplate="selectedTemplate"
      :reSelect="reSelectTemplate"
      />
      <DialogDataGroup
      v-model="dialogDataGroup"
      @selectedGroup="selectedGroup"
      :reSelect="reSelectGroup"
      />
      <DialogDataContact
      v-model="dialogDataContact"
      :reSelect="reSelectContact" 
      @selectedContact="selectedContact"
      />
      <base-material-snackbar
      v-model="snackbar"
      type="error"
      v-bind="{
        ['top']: true,
        ['center']: true
      }"
      >
      {{dialogMessage}} 
      </base-material-snackbar>
    </v-dialog>
</template>
<script>
import { VueEditor } from "vue2-editor"
import DialogDataMessageTemplate from '../send/dialogDataMessageTemplate'
import DialogDataGroup from '../send/dialogDataGroup'
import DialogDataContact from '../group/dialogDataContact'
import Api from '../../../../../store/Api'
import { mapState,mapActions } from 'vuex'

export default {
  components:{
    VueEditor,
    DialogDataMessageTemplate,
    DialogDataGroup,
    DialogDataContact
  },
  props: ['value',],
  data(){
    return{
      form: {
        name: '',
        message_id: '',
        recipient: '',
        send_to_speed_id: true,
        contact: [],
        group: []

      },
      title: '', 
      content: '',
      customToolbar: [
        [
        { header: [false, 1, 2, 3, 4, 5, 6] }
        ],
        ["bold", "italic", "underline", "strike"], 
        [{ list: "ordered" }, { list: "bullet" }],
        [{ align: ""},{ align: "center" },{ align: "right" },{ align: "justify" }],
        [
          { indent: "-1" },
          { indent: "+1" }
        ],
      ],
      rules:{
        message: [
           v => !!v || 'Program name is required !'
        ],
      },  
      dialogDataMessageTemplate: false,
      dialogDataGroup: false,
      dialogDataContact: false,
      total: 0,
      loading: {
        message: false,
        send: false
      },
      contact:[],
      group:[],
      template: [],
      recipient:'',
      reSelectTemplate: [],
      reSelectContact: [],
      reSelectGroup: [],
      snackbar: false,
      dialogMessage: '',
    }
  },
  computed: {
    ...mapState('message', [
     'templateDet'
    ]),
    ...mapState('dashboard', [
     'dashboard'
    ]),
  },
  methods:{
    ...mapActions('message', [
      'GET_DETAIL'
    ]),
    close() {
      this.$refs.form.reset()
      this.$emit('input', false)

    },
    dataTemplate(){
      this.dialogDataMessageTemplate = true
    },
    dataGroup(){
      this.dialogDataGroup = true
      
    },
    dataContact(){
      this.dialogDataContact = true
    },
    async selectedTemplate(data){
      this.template = data
      if (!data.length){
          this.title = ''
          this.content = ''
          return
      }
      this.loading.message = true
      let res = await this.GET_DETAIL(this.template[0].id)
      if (res.data.success) {
        this.loading.message = false
        if (res.data.data.category == "Short Message") {
          this.title = res.data.data.title
          this.content = res.data.data.highlight
        } else {
          this.title = res.data.data.title
          this.content = res.data.data.content
        }
        
        this.form.message_id = data[0].id
      }
    },
    selectedContact(data){
      this.contact = data
      this.form.contact = this.contact.map(c => c.id)
      this.total = this.form.contact.length
    },
    selectedGroup(data){
      this.selectedGroupData = data
      const members = []
      let total_recepient = 0
      this.form.group = this.selectedGroupData.map(g => {
        // total_recepient += g.contact_total
        g.contact.forEach(c => {
          if (!members.includes(c))
            members.push(c)
        })

        total_recepient = members.length
        
        return g.id
      })
      this.total = total_recepient
    },
    async add(){
      this.loading.send = true
      const body = this.form.recipient === 0 ? {
        name: this.form.name,
        message_id: this.form.message_id,
        recipient: this.form.recipient,
        contact: this.form.contact,
        send_to_speed_id: this.form.send_to_speed_id
      } : this.form.recipient === 1 ? {
        name: this.form.name,
        message_id: this.form.message_id,
        recipient: this.form.recipient,
        group: this.form.group,
        send_to_speed_id: this.form.send_to_speed_id
      } : this.form.recipient === 2 && {
        name: this.form.name,
        message_id: this.form.message_id,
        recipient: this.form.recipient,
        send_to_speed_id: this.form.send_to_speed_id
      }
      try {
        let post = await Api.post('/message/send', body)
         if (post.data.success) {
          this.$emit('snackbar', post.data.message)
          this.loading.send = false
          this.close()
          this.$emit('reload')
        } else {
          this.loading.send = false
          this.snackbar = true
          this.dialogMessage = post.data.message
        }
      } catch (error) {
          this.loading.send = false
          this.snackbar = true
          this.dialogMessage = 'Something went wrong'
      }
    }
  },
  watch: {
    value(val){
      if (val) {
        this.form = {
          send_to_speed_id: true,
          contact: [],
          group: []
        }
        this.template = ''
        this.title = ''
        this.contact = []
        this.group= []
        this.content = ''
        this.recipient = ''
      }
    },
    contact(val) {
      this.reSelectContact = val
    },
    group(val) {
      this.reSelectGroup = val
    },
    template(val){
      this.reSelectTemplate = val
    },
    recipient(val){
      this.form.recipient = val
      this.total = 0
      if (val === 0) {
        this.reSelectGroup = 0
      } else if (val === 1) {
        this.reSelectContact = 0
      }else if (val === 2) {
        this.total = this.dashboard.contact
        this.reSelectGroup = 0
        this.reSelectContact = 0
        
      }
      
    }
  }
}
</script>
<style >
.lock-button {
  pointer-events: auto;
}
.label{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
</style>
